workflows/[Authlike] teste02.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca todos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca todos": {
      "main": [
        [
          {
            "node": "Não responde 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não responde 1h": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        []
      ]
    }
  },
  "createdAt": "2025-12-03T23:29:34.402Z",
  "id": "T6q8l5akgFGH028Y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Authlike] teste02",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        352,
        736
      ],
      "id": "f5ef3c98-8871-49ed-a934-e70874b4a9eb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "authlike",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "respondeu_mensagem",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        736
      ],
      "id": "9bef7d2e-8e63-45bc-9e3d-46f73bfafd4d",
      "name": "Busca todos",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        720
      ],
      "id": "421d4f19-6a16-4949-bee2-615680d690ec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40e9ebce-6551-4635-a0ce-fbd047689a1e",
              "leftValue": "={{ $json.horario_envio }}",
              "rightValue": "={{ $now.minus({ hours: 1 }).toISO() }}\n",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        736
      ],
      "id": "d413cdaf-900d-4c2c-ba4d-81ef05724c21",
      "name": "Não responde 1h",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sua função é identificar se esse nome aqui é homem ou mulher: {{ $json.nome }}\ndepois de verificar passe para frente, a resposta se é um Doutor ou doutora\n\nApensa uma unica mensagem\n\nDoutora para mulher\n\ne \n\nDoutor para homem",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1216,
        736
      ],
      "id": "0fb447de-7f5f-449c-bc65-8d90a413779d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1360,
        960
      ],
      "id": "70290c0b-c8e0-4ca9-82d7-aa5da51a2a14",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FWqn0IMXX1HmDrEh",
          "name": "IA SUPORTE"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        960
      ],
      "id": "70d80847-7f95-474e-b874-5d514b2d92c6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Doutora",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5f4796d9-bbcf-48ac-828d-a0bcffb3888d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doutora"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f031e4e3-e57e-4b6f-ab74-14e8f8746864",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Doutor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Doutor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1520,
        736
      ],
      "id": "8b403df1-663f-4916-affa-8a159c96641e",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T23:29:34.402Z",
      "createdAt": "2025-12-03T23:29:34.402Z",
      "role": "workflow:owner",
      "workflowId": "T6q8l5akgFGH028Y",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T18:04:47.179Z",
  "versionId": "5179538b-6cdc-4cf1-af6d-ec569ec1c8c9"
}