workflows/[SPT0725] - LEAD x active x supa.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastra_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email do webhook é o mesmo email já captado?": {
      "main": [
        [
          {
            "node": "evento_igual2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "evento_igual3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user2": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pesquisa_user3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user3": {
      "main": [
        [
          {
            "node": "insere_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastra_user": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_user": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro4": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "email do webhook é o mesmo email já captado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_cadastro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evento_igual3": {
      "main": [
        [
          {
            "node": "insere_cadastro2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_cadastro5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_cadastro2": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro5": {
      "main": [
        [
          {
            "node": "evento_igual2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_compra_aprovada12": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_cadastro1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_cadastro": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_compra_aprovada": {
      "main": [
        [
          {
            "node": "pesquisa_user2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T18:08:19.620Z",
  "id": "o72NyQEcQGX67cbW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[SPT0725] - LEAD x active x supa",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"Email\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "page",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"url_pagina\"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Evento",
              "value": "[SPT0725] - [CAPTAÇÃO]",
              "type": "string"
            },
            {
              "id": "271ee5fa-6031-4a09-b53d-b1da2acf56a9",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"primeiro_nome\"] }}",
              "type": "string"
            },
            {
              "id": "a973ea01-7ccc-4b7b-aa43-4237223690c7",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"WhatsApp\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8d5b6cb-1a27-411f-b954-9a499ba34558",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        220,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return (() => {\n  const data = $json;\n\n  function formatarNome(nomeCompleto) {\n    const partes = (nomeCompleto || \"\").trim().split(\" \");\n    const primeiro_nome = partes.shift();\n    const sobrenome = partes.join(\" \") || \"\";\n    return { primeiro_nome, sobrenome };\n  }\n\n  function formatarWhatsapp(telefone) {\n    let numero = String(telefone || \"\").replace(/\\D/g, \"\");\n    if (numero.length < 10) return null;\n    if (!numero.startsWith(\"55\")) numero = \"55\" + numero;\n    return numero;\n  }\n\n  const nomeFormatado = formatarNome(data.Nome);\n\n  return {\n    primeiro_nome: nomeFormatado.primeiro_nome,\n    sobrenome: nomeFormatado.sobrenome || data.Sobrenome || \"\",\n    WhatsApp: formatarWhatsapp(data.Telefone),\n    Email: (data[\"E-mail\"] || \"\").toLowerCase(),\n    data_hora: data.data || null,\n    url_pagina: data.page || \"\",\n    utm_source: data.utm_source || \"\",\n    utm_medium: data.utm_medium || \"\",\n    utm_content: data.utm_content || \"\",\n    utm_term: data.utm_term || \"\",\n    utm_campaign: data.utm_campaign || \"\"\n  };\n})();"
      },
      "id": "a92872a7-3ac2-47c2-a5f3-c59fcd516af5",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_user2\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d20fc64c-8f9d-43d3-b082-123b310eb90a",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $item(\"0\").$node[\"existe\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "377d8f92-1447-4eb4-949d-7d5333daa955",
      "name": "email do webhook é o mesmo email já captado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2940,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $item(\"0\").$node[\"encontrou_user1\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bea5ad2f-44c1-43c1-8587-bd5023f20eee",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        440
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3940,
        360
      ],
      "id": "239bb196-808c-4b53-a2c4-37ee0773f844",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "# RECEBE DADOS DO WEBHOOK",
        "height": 400,
        "width": 1800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        -300
      ],
      "id": "8b70a839-96b1-47b9-9289-ecf31a9f1c38",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# DISTRIBUI DADOS ENTRE BANCO DE DADOS E beehiiv",
        "height": 924.2750876296602,
        "width": 4659.972278581266,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        140
      ],
      "typeVersion": 1,
      "id": "fd8626b8-fcb2-457d-816c-3d5146150518",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        }
      },
      "id": "0c619dbd-d5d4-424d-af32-8073e646a82b",
      "name": "pesquisa_user2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        840,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "4d1cb249-5c55-4688-91a3-e9c3ddd3f334",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        720
      ],
      "webhookId": "69eb6565-5e42-41de-9d01-362940bd8387"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        }
      },
      "id": "be1bc3e1-d57a-4335-abaf-a7168d0b1f4b",
      "name": "pesquisa_user3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1700,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "24c70ad4-f8c8-40c0-8369-7d4ea609d15e",
      "name": "cadastra_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        720
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "cadastros",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user3\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "form_id",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"form_id\"] }}"
            },
            {
              "fieldId": "pagina",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "fieldId": "data_cadastro",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "id": "fe48393f-ee9b-4f26-b18c-d5635d46f7dd",
      "name": "insere_cadastro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1920,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user2\"].json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "7386bc53-95c7-4836-a052-5a1b3a68b68b",
      "name": "atualiza_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2060,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            }
          ]
        }
      },
      "id": "e1723418-a890-4929-817c-f651e9598111",
      "name": "pesquisa_cadastro4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2300,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "cadastros",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user2\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "pagina",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "fieldId": "data_cadastro",
              "fieldValue": "={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"data\"] }}"
            }
          ]
        }
      },
      "id": "84923669-576c-432f-a576-89f3d1c30326",
      "name": "insere_cadastro1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3200,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94a618cf-7aae-45f4-a725-ba4e7ae3be0d",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro4\"].json[\"id_user\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fca7f171-72c9-4070-ad7b-4f0aac15c709",
      "name": "existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2520,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e06746e7-e25e-47d2-8e01-8b62b714d7bf",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro4\"].json[\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "52707a30-1eff-41c9-abc7-888f51fa2a64",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5cfc25e-f676-4758-b302-01f77125256f",
      "name": "evento_igual2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e06746e7-e25e-47d2-8e01-8b62b714d7bf",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro4\"].json[\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "52707a30-1eff-41c9-abc7-888f51fa2a64",
              "leftValue": "={{ $json[\"evento\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85c0dd8c-c141-434a-b5e9-22db02f7af78",
      "name": "evento_igual3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3880,
        620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cadastros",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user2\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "pagina",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "fieldId": "data_cadastro",
              "fieldValue": "={{ $item(\"0\").$node[\"Loop Over Items\"].json[\"data\"] }}"
            }
          ]
        }
      },
      "id": "e394243b-aeb8-42f9-b040-c38a785d345d",
      "name": "insere_cadastro2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4180,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            }
          ]
        }
      },
      "id": "79e2756e-ad1b-4c94-a960-74c65b9a841b",
      "name": "pesquisa_cadastro5",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4180,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fabianatome.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
            }
          ]
        },
        "options": {}
      },
      "id": "d6bb64ed-ad3d-4290-ac29-e5b9c3dc742d",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        620
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "4f1aabc6-9776-4f0f-bf3c-506121b9eed8",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        540,
        800
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "e283c0c6-3e84-4bf8-90e6-49dc18f18c8a",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        540,
        440
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "66",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
              },
              {
                "field": "68",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
              },
              {
                "field": "69",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
              },
              {
                "field": "67",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
              },
              {
                "field": "70",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
              },
              {
                "field": "71",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              },
              {
                "field": "=130",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
              }
            ]
          },
          "email": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
          "firstName": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
        }
      },
      "id": "92aaa1d6-30d0-4941-94c9-b87effc1e590",
      "name": "atualiza_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        220,
        480
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae56bcef-b57e-4508-86a8-aca17fa5082c",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20,
        620
      ]
    },
    {
      "parameters": {
        "email": "={{ $item(\"0\").$node[\"dados\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "66",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_source\"] }}"
              },
              {
                "field": "68",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_campaign\"] }}"
              },
              {
                "field": "69",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_term\"] }}"
              },
              {
                "field": "67",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_medium\"] }}"
              },
              {
                "field": "70",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"utm_content\"] }}"
              },
              {
                "field": "71",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              },
              {
                "field": "=130",
                "value": "={{ $item(\"0\").$node[\"dados\"].json[\"page\"] }}"
              }
            ]
          },
          "firstName": "={{ $item(\"0\").$node[\"dados\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados\"].json[\"telefone\"] }}"
        }
      },
      "id": "1228d7d1-9e02-4ebe-b8e6-abf92859025d",
      "name": "cria_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        220,
        760
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "664",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "06b67424-c7f1-4b2a-ac60-f6d42e9ce938",
      "name": "tag_compra_aprovada12",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        540,
        620
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 1,
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "08fec472-e331-4c83-ad8d-420fc8dee6cc",
      "name": "tag_compra_aprovada",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        740,
        440
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1360,
        -140
      ],
      "id": "fc959dbf-1a98-49ad-900c-fab5cfeb130a"
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1160,
        -140
      ],
      "id": "b00a4ad2-95c0-4779-bb2f-47c19ee24ce7"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
            },
            {
              "name": "url_api_activecampaign",
              "value": "fabianatome"
            }
          ]
        },
        "options": {}
      },
      "id": "770cf6bd-3220-4c3b-aba5-4ab678086d85",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        960,
        -140
      ]
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "bb9ef8fb-7b89-4253-804f-bfa7817b8c85",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        -300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyLvjh94DRNy9RRRQo0rFmmn6muXZ1UybkEE83EYkr0",
          "mode": "list",
          "cachedResultName": "supa x active",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyLvjh94DRNy9RRRQo0rFmmn6muXZ1UybkEE83EYkr0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyLvjh94DRNy9RRRQo0rFmmn6muXZ1UybkEE83EYkr0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -580,
        -180
      ],
      "id": "663b0086-3e99-442d-a746-ee3c5db86b0f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7Goe4M9R60j6PEhl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        -180
      ],
      "id": "7c8014a5-6372-4233-b1f9-4d0f8f5a8fab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -180
      ],
      "id": "89158755-eeb8-4f58-8c36-6a5bdb76141f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -40,
        -380
      ],
      "id": "be59d28a-bfd9-493f-8ae7-c25249071ee5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3680,
        940
      ],
      "id": "d896fd88-fa8e-4136-bdc4-b30fea77cab7",
      "name": "No Operation, do nothing2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-14T18:08:19.620Z",
      "createdAt": "2025-07-14T18:08:19.620Z",
      "role": "workflow:owner",
      "workflowId": "o72NyQEcQGX67cbW",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-06-23T13:22:07.412Z",
      "createdAt": "2025-06-23T13:22:07.412Z",
      "id": "0dxGDpXEGCo42UXp",
      "name": "[SPT0725]"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-14T18:53:44.407Z",
  "versionId": "35dc9c8b-14b6-4223-9597-113a1f21f63e"
}