workflows/[TMB] COMPRA APROVADA [TRA_SET_25].json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T22:27:37.573Z",
    "createdAt": "2025-12-03T22:27:37.573Z",
    "versionId": "c2ed06c2-0ea1-413a-910c-a686d9e49342",
    "workflowId": "hEjE96Xb62Ib4x46",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fb78467b-b68d-47d3-abe4-491aa5758108-set",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          128,
          -2448
        ],
        "id": "ceb73aae-d334-4d22-a672-320029ec7c82",
        "name": "Webhook",
        "webhookId": "fb78467b-b68d-47d3-abe4-491aa5758108"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const data = item.json.body;\n\n  // 1. Telefone — normalizado com DDI\n  let telefone = data.telefone_ativo || data.telefones || \"\";\n  telefone = telefone.replace(/\\D/g, \"\");\n  if (!telefone.startsWith(\"55\")) {\n    telefone = \"55\" + telefone;\n  }\n\n  // 2. Email\n  const email = (data.email || \"\").toLowerCase();\n\n  // 3. Endereço\n  const endereco = {\n    pais: data.endereco_pais || null,\n    cep: data.endereco_cep || null,\n    estado: data.endereco_estado || null,\n    cidade: data.endereco_cidade || null,\n    bairro: data.endereco_bairro || null,\n    logradouro: data.endereco_logradouro || null,\n    numero: data.endereco_numero || null,\n    complemento: data.endereco_complemento || null\n  };\n  const enderecoCompleto = data.endereco_completo || \"\";\n\n  // 4. UTMs\n  const utms = {\n    utm_source: data.utm_source || null,\n    utm_medium: data.utm_medium || null,\n    utm_term: null,\n    utm_content: data.utm_content || null,\n    utm_campaign: data.utm_campaign || null,\n    utm_last_source: data.utm_last_source || null,\n    utm_last_medium: data.utm_last_medium || null,\n    utm_last_content: data.utm_last_content || null,\n    utm_last_campaign: data.utm_last_campaign || null\n  };\n\n  // 5. Nome e sobrenome\n  const nomeCompleto = data.cliente || \"\";\n  const partes = nomeCompleto.trim().split(\" \");\n  const nome = partes.shift() || \"\";\n  const sobrenome = partes.join(\" \");\n\n  // 6. Documento e nascimento\n  const documento = data.documento || null;\n  const nascimento = data.nascimento || null;\n\n  // 7. Valores monetários\n  const valorTotal = parseFloat(data.valor_total || 0);\n  const valorParcela = parseFloat(data.valor_parcela || 0);\n  const valorEntrada = parseFloat(data.valor_entrada || 0);\n  const taxaAdministracao = parseFloat(data.taxa_administracao || 0);\n\n  // 8. Informações do produto e pagamento\n  const produto = {\n    nome_produto: data.titulo || null,\n    nome_lancamento: data.lancamento || null,\n    produtor: data.produtor || null,\n    produtor_id: data.produtor_id || null,\n    id_transacao: data.id || null,\n    id_pedido: data.pedido || null,\n    id_externo: data.id_externo || null,\n    lancamento_id: data.lancamento_id || null,\n    code: data.code || null,\n    parcelas: data.parcelas || null,\n    melhor_dia_pagamento: data.melhor_dia_pagamento || null,\n    status_pedido: data.status_pedido || null,\n    status_financeiro: data.status_financeiro || null,\n    criado_em: data.criado_em || null,\n    data_efetivado: data.data_efetivado || null,\n    provedor_negociado: data.provedor_negociado || null\n  };\n\n  // 9. Comissão (não presente no input — assumido como 0 ou nulo)\n  const comissao = parseFloat(data.comissao_produtor || 0); // Adapte aqui se esse campo for adicionado depois\n  const taxaPlataforma = valorTotal - comissao;\n\n  return {\n    json: {\n      // Cliente\n      nome,\n      sobrenome,\n      email,\n      telefone,\n      documento,\n      nascimento,\n\n      // Endereço\n      enderecoSeparado: endereco,\n      enderecoCompleto,\n\n      // Produto e transação\n      produto,\n\n      // UTM\n      utms,\n\n      // Valores\n      valorTotal: parseFloat(valorTotal.toFixed(2)),\n      valorParcela: parseFloat(valorParcela.toFixed(2)),\n      valorEntrada: parseFloat(valorEntrada.toFixed(2)),\n      taxaAdministracao: parseFloat(taxaAdministracao.toFixed(2)),\n      comissao: parseFloat(comissao.toFixed(2)),\n      taxaPlataforma: parseFloat(taxaPlataforma.toFixed(2)),\n\n      valorTotal_formatado: `R$ ${valorTotal.toFixed(2)}`,\n      valorParcela_formatada: `R$ ${valorParcela.toFixed(2)}`,\n      valorEntrada_formatada: `R$ ${valorEntrada.toFixed(2)}`,\n      taxaAdministracao_formatada: `R$ ${taxaAdministracao.toFixed(2)}`,\n      comissao_formatada: `R$ ${comissao.toFixed(2)}`,\n      taxaPlataforma_formatada: `R$ ${taxaPlataforma.toFixed(2)}`\n    }\n  };\n});\n"
        },
        "id": "da340d9b-ebe7-48d1-84a1-b5018768f10e",
        "name": "trata_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          352,
          -2448
        ]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "nome",
                "value": "={{ $json[\"nome\"] }}"
              },
              {
                "name": "email",
                "value": "={{ $json[\"email\"] }}"
              },
              {
                "name": "cpf/cnpj",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"documento\"] }}"
              },
              {
                "name": "nome_produto",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"nome_lancamento\"] }}"
              },
              {
                "name": "transaction_id",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"id_transacao\"] }}"
              },
              {
                "name": "product_id",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"produtor_id\"] }}"
              },
              {
                "name": "preco",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"valorTotal\"] }}"
              },
              {
                "name": "payment_method",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"provedor_negociado\"] }}"
              },
              {
                "name": "trans_status",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"status_pedido\"] }}"
              },
              {
                "name": "data_compra",
                "value": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
              },
              {
                "name": "utm_source",
                "value": "={{ $json[\"utms\"][\"utm_source\"] }}"
              },
              {
                "name": "utm_medium",
                "value": "={{ $json[\"utms\"][\"utm_medium\"] }}"
              },
              {
                "name": "utm_term",
                "value": "={{ $json[\"utms\"][\"utm_term\"] }}"
              },
              {
                "name": "utm_content",
                "value": "={{ $json[\"utms\"][\"utm_content\"] }}"
              },
              {
                "name": "utm_campaign",
                "value": "={{ $json[\"utms\"][\"utm_campaign\"] }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json[\"telefone\"] }}"
              },
              {
                "name": "sobrenome",
                "value": "={{ $json[\"sobrenome\"] }}"
              },
              {
                "name": "comissao_produtor",
                "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"taxaAdministracao\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ac823d61-3c8c-42b4-b281-c38a6498df2f",
        "name": "dados_da_compra",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          592,
          -2448
        ]
      },
      {
        "parameters": {
          "content": "# PARTE 1",
          "height": 347,
          "width": 833,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          80,
          -2544
        ],
        "typeVersion": 1,
        "id": "2f6dc781-5653-4254-98f3-09b7ea5ec634",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
          "options": {},
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Api-Token",
                "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
              },
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        },
        "name": "Listar Tags da Conta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          592,
          -2000
        ],
        "id": "859e7bb3-32be-47be-a8d3-663687133adc"
      },
      {
        "parameters": {
          "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
          "height": 407.6377565498652,
          "width": 747.0856205721786
        },
        "id": "08fa6330-1831-4477-838a-cb9ae58e555f",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          80,
          -2160
        ]
      },
      {
        "parameters": {
          "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
          "options": {},
          "headerParametersUi": {
            "parameter": [
              {
                "name": "Api-Token",
                "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          }
        },
        "name": "Listar Campos Personalizados de Contatos da Conta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          384,
          -2000
        ],
        "id": "ce07852f-05e8-48bb-b874-6dc0c05d13d8"
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Api-Token",
                "value": "3696e725bdca0e3ce53536c4ba23c8ecee77def78a7a229c5a44780b59bc088e2be9edb5"
              },
              {
                "name": "url_api_activecampaign",
                "value": "infomakers98413"
              },
              {
                "name": "tag_procurada",
                "value": "compra aprovada"
              }
            ]
          },
          "options": {}
        },
        "id": "01dd57fd-bbf0-4fef-b246-ff6d5d641af5",
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          192,
          -2000
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
                "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0ec54082-4bf4-4950-8922-0ed99b9868d0",
        "name": "encontrou_user1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          384,
          -1440
        ]
      },
      {
        "parameters": {
          "tableId": "users",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
              },
              {
                "fieldId": "sobrenome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              }
            ]
          }
        },
        "id": "4af06d79-107b-4ca7-987d-d65480e1f91e",
        "name": "Supabase",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          608,
          -1280
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
                "leftValue": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
                "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f842892f-716e-4aaa-a771-66a17df66558",
        "name": "email_igual1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          608,
          -1504
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
                "leftValue": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}",
                "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7e04d131-6623-4033-b466-8c195df8e904",
        "name": "telefone_igual1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1248,
          -1520
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "users",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
              },
              {
                "fieldId": "sobrenome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              }
            ]
          }
        },
        "id": "33921ad0-655b-4399-aeab-72bfc2f016ac",
        "name": "atualiza_email",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1040,
          -1424
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "users",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
              },
              {
                "fieldId": "sobrenome",
                "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              }
            ]
          }
        },
        "id": "ed53019d-c864-4bd4-9d0f-0362e06d48c0",
        "name": "atualiza_telefone",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1408,
          -1440
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "produtos",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "nome",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
              },
              {
                "keyName": "id_checkout",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
              }
            ]
          }
        },
        "id": "4c15fc4b-df28-4960-b596-bbe7b346ff8a",
        "name": "pesquisa_produto",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1248,
          -1248
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
                "leftValue": "={{ $node[\"pesquisa_produto\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "51f64fa8-bdd5-4729-a8b2-018fe1cff8d4",
        "name": "encontrou_produto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1472,
          -1248
        ]
      },
      {
        "parameters": {
          "tableId": "produtos",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "nome",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
              },
              {
                "fieldId": "id_checkout",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
              }
            ]
          }
        },
        "id": "612d8c03-d879-40e2-9347-3b62cb18f8aa",
        "name": "cria_produto",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1712,
          -1168
        ],
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
                "leftValue": "={{ $node[\"pesquisa_conversao\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              },
              {
                "id": "a7c39671-fc0f-4767-a529-f0f2767fc1b9",
                "leftValue": "={{ $json[\"id_transacao\"].toString() }}\n",
                "rightValue": "={{ $item(0).$node[\"dados_da_compra\"].json[\"transaction_id\"].toString() }}\n",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "daba832a-f641-4e43-a892-7629353161fd",
        "name": "encontrou_conversao",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2128,
          -1264
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "conversoes",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id_transacao",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"transaction_id\"] }}"
              },
              {
                "keyName": "produto",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
              }
            ]
          }
        },
        "id": "5335482b-b658-4965-98de-6abee4c919dc",
        "name": "pesquisa_conversao",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1904,
          -1264
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {},
        "id": "d8c20f5e-1cab-4584-a7b5-8b6f9c474e0e",
        "name": "No Operation, do nothing1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2800,
          -1280
        ]
      },
      {
        "parameters": {
          "tableId": "conversoes",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "id_user",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              },
              {
                "fieldId": "nome",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}"
              },
              {
                "fieldId": "sobrenome",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              },
              {
                "fieldId": "data_conversao",
                "fieldValue": "={{ $now }}"
              },
              {
                "fieldId": "produto",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
              },
              {
                "fieldId": "id_produto",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
              },
              {
                "fieldId": "preco",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"preco\"] }}"
              },
              {
                "fieldId": "parcelas",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"parcelas\"] }}"
              },
              {
                "fieldId": "oferta",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"oferta\"] }}"
              },
              {
                "fieldId": "id_transacao",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"transaction_id\"] }}"
              },
              {
                "fieldId": "comissao_gateway",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"gateway_comission\"] }}"
              },
              {
                "fieldId": "comissao_produtor",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"comissao_produtor\"] }}"
              },
              {
                "fieldId": "moeda",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"currency\"] }}"
              },
              {
                "fieldId": "forma_de_pagamento",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"payment_method\"] }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"trans_status\"] }}"
              },
              {
                "fieldId": "utm_source",
                "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_source\"] }}"
              },
              {
                "fieldId": "utm_campaign",
                "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_campaign\"] }}"
              },
              {
                "fieldId": "utm_term",
                "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_term\"] }}"
              },
              {
                "fieldId": "utm_medium",
                "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_medium\"] }}"
              },
              {
                "fieldId": "utm_content",
                "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_content\"] }}"
              },
              {
                "fieldId": "documento",
                "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"cpf/cnpj\"] }}"
              }
            ]
          }
        },
        "id": "ead77bd9-4bf3-4022-94cb-fa0702edd554",
        "name": "insere_conversao",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2560,
          -1168
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              }
            ]
          }
        },
        "id": "8c7a5aaa-ebb2-464a-b113-3ed87b70f391",
        "name": "pesquisa_user",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          192,
          -1440
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://services.leadconnectorhq.com/contacts/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer"
              }
            ]
          },
          "options": {}
        },
        "id": "c0717640-8983-407f-a954-02c7be7e0cf6",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          -2048
        ],
        "disabled": true
      },
      {
        "parameters": {
          "content": "# PARTE 2",
          "height": 830,
          "width": 3315
        },
        "id": "e5e31ee6-f66d-48d3-bc13-8c838c27f5cb",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          80,
          -1728
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution.fabianatome.com.br/message/sendText/suporteoperacional\n",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "CEE974AEB8D8-4A4A-93DB-2D792A42EC82"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $item(\"0\").$node[\"No Operation, do nothing1\"].json[\"telefone\"] }}"
              },
              {
                "name": "text",
                "value": "={{ $item(\"0\").$node[\"mensagem\"].json[\"mensagem\"] }}"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3168,
          -1280
        ],
        "id": "1f439381-fd5e-4489-bdcc-f990123fddb0",
        "name": "Envia mensagem1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dd8c70d4-3806-45bb-a5ee-bc8e0bfff264",
                "name": "mensagem",
                "value": "=Já vamos liberar seu acesso ao Tributarista em Ação 😎\n\nOlá, {{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}\n\nA TMB, nossa empresa parceira, nos informou que seu pagamento da primeira parcela foi efetuado 😊\n\nNosso time já está com seu nome e e-mail e seu acesso ao curso Tributarista em Ação será liberado em até 1 dia útil\n\nMas calma que esse é o prazo máximo e seu acesso deve ser liberado a qualquer momento 🙌\n\n⏳ Volto para te avisar assim que seu acesso for liberado",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2992,
          -1280
        ],
        "id": "f193b4b8-6927-4631-afc4-45381ae5d23f",
        "name": "mensagem"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6f64d600-7ff3-49c3-9825-fd75c61f8ea3",
                "leftValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"trans_status\"] }}",
                "rightValue": "Efetivado",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          800,
          -2448
        ],
        "id": "bf531c2d-452a-4ca3-8157-52d46abfb8c5",
        "name": "If"
      },
      {
        "parameters": {
          "url": "https://fabianatome.api-us1.com/api/3/contacts",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Api-Token",
                "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
              }
            ]
          },
          "options": {}
        },
        "id": "73fdbb31-04fd-4f68-a1a9-f231a066a422",
        "name": "HTTP Request1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3504,
          -1296
        ]
      },
      {
        "parameters": {
          "errorMessage": "An error ocurred!"
        },
        "id": "5c551858-cc19-49f3-b9d6-2b035c9e2d18",
        "name": "Stop and Error3",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          4304,
          -1120
        ]
      },
      {
        "parameters": {
          "errorMessage": "An error ocurred!"
        },
        "id": "943991c7-bd87-4bcc-8012-fefdee434e04",
        "name": "Stop and Error2",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          4304,
          -1488
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
          "updateFields": {
            "fieldValues": {
              "property": [
                {
                  "field": "71",
                  "value": "={{ $now.format('dd/MM/yyyy') }}"
                }
              ]
            },
            "email": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
            "firstName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}",
            "lastName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}",
            "phone": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
          }
        },
        "id": "f23422e2-06b9-4ef9-9af8-191568b9ded7",
        "name": "atualiza_contato_no_ac2",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          3984,
          -1440
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
                "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f73c4b93-80ff-413a-a268-98dc7cc6d2d0",
        "name": "If2",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3744,
          -1296
        ]
      },
      {
        "parameters": {
          "email": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
          "updateIfExists": true,
          "additionalFields": {
            "fieldValues": {
              "property": [
                {
                  "field": "71",
                  "value": "={{ $now.format('dd/MM/yyyy') }}"
                }
              ]
            },
            "firstName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}",
            "lastName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}",
            "phone": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
          }
        },
        "id": "6620d8fe-f5b4-40cf-acd5-697c4989b8f0",
        "name": "cria_contato_no_ac2",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          3984,
          -1168
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "contactTag",
          "tagId": "704",
          "contactId": "={{ $json[\"id\"] }}"
        },
        "id": "baf8c3af-0e99-453b-ab30-2019fbc53f1c",
        "name": "tag_compra_aprovada12",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          4304,
          -1296
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        }
      },
      {
        "parameters": {
          "content": "# [ADD TAG ACT] COMPRA APROVADA",
          "height": 600,
          "width": 1060,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3440,
          -1568
        ],
        "typeVersion": 1,
        "id": "d6ae860a-8cf7-42cf-8976-699553ea5800",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "resource": "contactTag",
          "tagId": "703",
          "contactId": "={{ $node[\"atualiza_contato_no_ac2\"].json[\"id\"] }}"
        },
        "id": "cae96050-d481-4cf1-b0d5-dfea250d9b5a",
        "name": "tag_compra_aprovada",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          4624,
          -1424
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "cadastros",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id_user",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              },
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
              },
              {
                "keyName": "evento",
                "condition": "eq",
                "keyValue": "[TRA_SET_2025] - [CAPTAÇÃO]"
              }
            ]
          }
        },
        "id": "111548de-21e8-415d-89b7-df2457c42800",
        "name": "Get many rows",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2368,
          -1168
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://unnichat.com.br/a/start/2ftbsuK0aSSeuu2Kdhhp",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"nome\": \"{{ $node[\"No Operation, do nothing1\"].json[\"nome\"] }}\",\n  \"telefone\": \"{{ $node[\"No Operation, do nothing1\"].json[\"telefone\"] }}\",\n  \"type\": \"mensagem\",\n  \"text\": {\n    \"body\": \"viroucliente\"\n  }\n} ",
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4880,
          -1424
        ],
        "id": "e3e09314-a481-4e0b-92b9-7f3cb276f738",
        "name": "add tag virou_aluno",
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "trata_dados": {
        "main": [
          [
            {
              "node": "dados_da_compra",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados_da_compra": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Listar Campos Personalizados de Contatos da Conta": {
        "main": [
          [
            {
              "node": "Listar Tags da Conta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Listar Campos Personalizados de Contatos da Conta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "encontrou_user1": {
        "main": [
          [
            {
              "node": "email_igual1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "email_igual1": {
        "main": [
          [
            {
              "node": "telefone_igual1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "atualiza_email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "telefone_igual1": {
        "main": [
          [
            {
              "node": "pesquisa_produto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "atualiza_telefone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_email": {
        "main": [
          [
            {
              "node": "telefone_igual1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_telefone": {
        "main": [
          [
            {
              "node": "pesquisa_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_produto": {
        "main": [
          [
            {
              "node": "encontrou_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "encontrou_produto": {
        "main": [
          [
            {
              "node": "pesquisa_conversao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "cria_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_produto": {
        "main": [
          [
            {
              "node": "pesquisa_produto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "encontrou_conversao": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_conversao": {
        "main": [
          [
            {
              "node": "encontrou_conversao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user": {
        "main": [
          [
            {
              "node": "encontrou_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "insere_conversao": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          [
            {
              "node": "mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "trata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia mensagem1": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mensagem": {
        "main": [
          [
            {
              "node": "Envia mensagem1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_contato_no_ac2": {
        "main": [
          [
            {
              "node": "tag_compra_aprovada12",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "atualiza_contato_no_ac2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "cria_contato_no_ac2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_contato_no_ac2": {
        "main": [
          [
            {
              "node": "tag_compra_aprovada12",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tag_compra_aprovada12": {
        "main": [
          [
            {
              "node": "tag_compra_aprovada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "insere_conversao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tag_compra_aprovada": {
        "main": [
          [
            {
              "node": "add tag virou_aluno",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "c2ed06c2-0ea1-413a-910c-a686d9e49342",
  "connections": {
    "trata_dados": {
      "main": [
        [
          {
            "node": "dados_da_compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_da_compra": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "email_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual1": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual1": {
      "main": [
        [
          {
            "node": "pesquisa_produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_email": {
      "main": [
        [
          {
            "node": "telefone_igual1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_telefone": {
      "main": [
        [
          {
            "node": "pesquisa_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_produto": {
      "main": [
        [
          {
            "node": "encontrou_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_produto": {
      "main": [
        [
          {
            "node": "pesquisa_conversao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_produto": {
      "main": [
        [
          {
            "node": "pesquisa_produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_conversao": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_conversao": {
      "main": [
        [
          {
            "node": "encontrou_conversao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_conversao": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "trata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem": {
      "main": [
        [
          {
            "node": "Envia mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_compra_aprovada12": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "insere_conversao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag_compra_aprovada": {
      "main": [
        [
          {
            "node": "add tag virou_aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T01:22:16.069Z",
  "id": "hEjE96Xb62Ib4x46",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TMB] COMPRA APROVADA [TRA_SET_25]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb78467b-b68d-47d3-abe4-491aa5758108-set",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        128,
        -2448
      ],
      "id": "ceb73aae-d334-4d22-a672-320029ec7c82",
      "name": "Webhook",
      "webhookId": "fb78467b-b68d-47d3-abe4-491aa5758108"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.body;\n\n  // 1. Telefone — normalizado com DDI\n  let telefone = data.telefone_ativo || data.telefones || \"\";\n  telefone = telefone.replace(/\\D/g, \"\");\n  if (!telefone.startsWith(\"55\")) {\n    telefone = \"55\" + telefone;\n  }\n\n  // 2. Email\n  const email = (data.email || \"\").toLowerCase();\n\n  // 3. Endereço\n  const endereco = {\n    pais: data.endereco_pais || null,\n    cep: data.endereco_cep || null,\n    estado: data.endereco_estado || null,\n    cidade: data.endereco_cidade || null,\n    bairro: data.endereco_bairro || null,\n    logradouro: data.endereco_logradouro || null,\n    numero: data.endereco_numero || null,\n    complemento: data.endereco_complemento || null\n  };\n  const enderecoCompleto = data.endereco_completo || \"\";\n\n  // 4. UTMs\n  const utms = {\n    utm_source: data.utm_source || null,\n    utm_medium: data.utm_medium || null,\n    utm_term: null,\n    utm_content: data.utm_content || null,\n    utm_campaign: data.utm_campaign || null,\n    utm_last_source: data.utm_last_source || null,\n    utm_last_medium: data.utm_last_medium || null,\n    utm_last_content: data.utm_last_content || null,\n    utm_last_campaign: data.utm_last_campaign || null\n  };\n\n  // 5. Nome e sobrenome\n  const nomeCompleto = data.cliente || \"\";\n  const partes = nomeCompleto.trim().split(\" \");\n  const nome = partes.shift() || \"\";\n  const sobrenome = partes.join(\" \");\n\n  // 6. Documento e nascimento\n  const documento = data.documento || null;\n  const nascimento = data.nascimento || null;\n\n  // 7. Valores monetários\n  const valorTotal = parseFloat(data.valor_total || 0);\n  const valorParcela = parseFloat(data.valor_parcela || 0);\n  const valorEntrada = parseFloat(data.valor_entrada || 0);\n  const taxaAdministracao = parseFloat(data.taxa_administracao || 0);\n\n  // 8. Informações do produto e pagamento\n  const produto = {\n    nome_produto: data.titulo || null,\n    nome_lancamento: data.lancamento || null,\n    produtor: data.produtor || null,\n    produtor_id: data.produtor_id || null,\n    id_transacao: data.id || null,\n    id_pedido: data.pedido || null,\n    id_externo: data.id_externo || null,\n    lancamento_id: data.lancamento_id || null,\n    code: data.code || null,\n    parcelas: data.parcelas || null,\n    melhor_dia_pagamento: data.melhor_dia_pagamento || null,\n    status_pedido: data.status_pedido || null,\n    status_financeiro: data.status_financeiro || null,\n    criado_em: data.criado_em || null,\n    data_efetivado: data.data_efetivado || null,\n    provedor_negociado: data.provedor_negociado || null\n  };\n\n  // 9. Comissão (não presente no input — assumido como 0 ou nulo)\n  const comissao = parseFloat(data.comissao_produtor || 0); // Adapte aqui se esse campo for adicionado depois\n  const taxaPlataforma = valorTotal - comissao;\n\n  return {\n    json: {\n      // Cliente\n      nome,\n      sobrenome,\n      email,\n      telefone,\n      documento,\n      nascimento,\n\n      // Endereço\n      enderecoSeparado: endereco,\n      enderecoCompleto,\n\n      // Produto e transação\n      produto,\n\n      // UTM\n      utms,\n\n      // Valores\n      valorTotal: parseFloat(valorTotal.toFixed(2)),\n      valorParcela: parseFloat(valorParcela.toFixed(2)),\n      valorEntrada: parseFloat(valorEntrada.toFixed(2)),\n      taxaAdministracao: parseFloat(taxaAdministracao.toFixed(2)),\n      comissao: parseFloat(comissao.toFixed(2)),\n      taxaPlataforma: parseFloat(taxaPlataforma.toFixed(2)),\n\n      valorTotal_formatado: `R$ ${valorTotal.toFixed(2)}`,\n      valorParcela_formatada: `R$ ${valorParcela.toFixed(2)}`,\n      valorEntrada_formatada: `R$ ${valorEntrada.toFixed(2)}`,\n      taxaAdministracao_formatada: `R$ ${taxaAdministracao.toFixed(2)}`,\n      comissao_formatada: `R$ ${comissao.toFixed(2)}`,\n      taxaPlataforma_formatada: `R$ ${taxaPlataforma.toFixed(2)}`\n    }\n  };\n});\n"
      },
      "id": "da340d9b-ebe7-48d1-84a1-b5018768f10e",
      "name": "trata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        352,
        -2448
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"email\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"documento\"] }}"
            },
            {
              "name": "nome_produto",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"nome_lancamento\"] }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"id_transacao\"] }}"
            },
            {
              "name": "product_id",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"produtor_id\"] }}"
            },
            {
              "name": "preco",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"valorTotal\"] }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"provedor_negociado\"] }}"
            },
            {
              "name": "trans_status",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"produto\"][\"status_pedido\"] }}"
            },
            {
              "name": "data_compra",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json[\"utms\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json[\"utms\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json[\"utms\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json[\"utms\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json[\"utms\"][\"utm_campaign\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json[\"telefone\"] }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $json[\"sobrenome\"] }}"
            },
            {
              "name": "comissao_produtor",
              "value": "={{ $item(\"0\").$node[\"trata_dados\"].json[\"taxaAdministracao\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac823d61-3c8c-42b4-b281-c38a6498df2f",
      "name": "dados_da_compra",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        592,
        -2448
      ]
    },
    {
      "parameters": {
        "content": "# PARTE 1",
        "height": 347,
        "width": 833,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -2544
      ],
      "typeVersion": 1,
      "id": "2f6dc781-5653-4254-98f3-09b7ea5ec634",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        592,
        -2000
      ],
      "id": "859e7bb3-32be-47be-a8d3-663687133adc"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "08fa6330-1831-4477-838a-cb9ae58e555f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -2160
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        384,
        -2000
      ],
      "id": "ce07852f-05e8-48bb-b874-6dc0c05d13d8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "3696e725bdca0e3ce53536c4ba23c8ecee77def78a7a229c5a44780b59bc088e2be9edb5"
            },
            {
              "name": "url_api_activecampaign",
              "value": "infomakers98413"
            },
            {
              "name": "tag_procurada",
              "value": "compra aprovada"
            }
          ]
        },
        "options": {}
      },
      "id": "01dd57fd-bbf0-4fef-b246-ff6d5d641af5",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        192,
        -2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ec54082-4bf4-4950-8922-0ed99b9868d0",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        -1440
      ]
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "4af06d79-107b-4ca7-987d-d65480e1f91e",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        -1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f842892f-716e-4aaa-a771-66a17df66558",
      "name": "email_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        -1504
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e04d131-6623-4033-b466-8c195df8e904",
      "name": "telefone_igual1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        -1520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "33921ad0-655b-4399-aeab-72bfc2f016ac",
      "name": "atualiza_email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        -1424
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "ed53019d-c864-4bd4-9d0f-0362e06d48c0",
      "name": "atualiza_telefone",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        -1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "produtos",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
            },
            {
              "keyName": "id_checkout",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
            }
          ]
        }
      },
      "id": "4c15fc4b-df28-4960-b596-bbe7b346ff8a",
      "name": "pesquisa_produto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        -1248
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_produto\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51f64fa8-bdd5-4729-a8b2-018fe1cff8d4",
      "name": "encontrou_produto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1472,
        -1248
      ]
    },
    {
      "parameters": {
        "tableId": "produtos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
            },
            {
              "fieldId": "id_checkout",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
            }
          ]
        }
      },
      "id": "612d8c03-d879-40e2-9347-3b62cb18f8aa",
      "name": "cria_produto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1712,
        -1168
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_conversao\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a7c39671-fc0f-4767-a529-f0f2767fc1b9",
              "leftValue": "={{ $json[\"id_transacao\"].toString() }}\n",
              "rightValue": "={{ $item(0).$node[\"dados_da_compra\"].json[\"transaction_id\"].toString() }}\n",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "daba832a-f641-4e43-a892-7629353161fd",
      "name": "encontrou_conversao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2128,
        -1264
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversoes",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_transacao",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"transaction_id\"] }}"
            },
            {
              "keyName": "produto",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
            }
          ]
        }
      },
      "id": "5335482b-b658-4965-98de-6abee4c919dc",
      "name": "pesquisa_conversao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1904,
        -1264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {},
      "id": "d8c20f5e-1cab-4584-a7b5-8b6f9c474e0e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2800,
        -1280
      ]
    },
    {
      "parameters": {
        "tableId": "conversoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "data_conversao",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "produto",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome_produto\"] }}"
            },
            {
              "fieldId": "id_produto",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"product_id\"] }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"preco\"] }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"parcelas\"] }}"
            },
            {
              "fieldId": "oferta",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"oferta\"] }}"
            },
            {
              "fieldId": "id_transacao",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"transaction_id\"] }}"
            },
            {
              "fieldId": "comissao_gateway",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"gateway_comission\"] }}"
            },
            {
              "fieldId": "comissao_produtor",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"comissao_produtor\"] }}"
            },
            {
              "fieldId": "moeda",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"currency\"] }}"
            },
            {
              "fieldId": "forma_de_pagamento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"payment_method\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"trans_status\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"Get many rows\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "documento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"cpf/cnpj\"] }}"
            }
          ]
        }
      },
      "id": "ead77bd9-4bf3-4022-94cb-fa0702edd554",
      "name": "insere_conversao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        -1168
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "8c7a5aaa-ebb2-464a-b113-3ed87b70f391",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -1440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "options": {}
      },
      "id": "c0717640-8983-407f-a954-02c7be7e0cf6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -2048
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# PARTE 2",
        "height": 830,
        "width": 3315
      },
      "id": "e5e31ee6-f66d-48d3-bc13-8c838c27f5cb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.fabianatome.com.br/message/sendText/suporteoperacional\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "CEE974AEB8D8-4A4A-93DB-2D792A42EC82"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $item(\"0\").$node[\"No Operation, do nothing1\"].json[\"telefone\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $item(\"0\").$node[\"mensagem\"].json[\"mensagem\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        -1280
      ],
      "id": "1f439381-fd5e-4489-bdcc-f990123fddb0",
      "name": "Envia mensagem1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd8c70d4-3806-45bb-a5ee-bc8e0bfff264",
              "name": "mensagem",
              "value": "=Já vamos liberar seu acesso ao Tributarista em Ação 😎\n\nOlá, {{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}\n\nA TMB, nossa empresa parceira, nos informou que seu pagamento da primeira parcela foi efetuado 😊\n\nNosso time já está com seu nome e e-mail e seu acesso ao curso Tributarista em Ação será liberado em até 1 dia útil\n\nMas calma que esse é o prazo máximo e seu acesso deve ser liberado a qualquer momento 🙌\n\n⏳ Volto para te avisar assim que seu acesso for liberado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        -1280
      ],
      "id": "f193b4b8-6927-4631-afc4-45381ae5d23f",
      "name": "mensagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f64d600-7ff3-49c3-9825-fd75c61f8ea3",
              "leftValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"trans_status\"] }}",
              "rightValue": "Efetivado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -2448
      ],
      "id": "bf531c2d-452a-4ca3-8157-52d46abfb8c5",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://fabianatome.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
            }
          ]
        },
        "options": {}
      },
      "id": "73fdbb31-04fd-4f68-a1a9-f231a066a422",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3504,
        -1296
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "5c551858-cc19-49f3-b9d6-2b035c9e2d18",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4304,
        -1120
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "943991c7-bd87-4bcc-8012-fefdee434e04",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4304,
        -1488
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "71",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "email": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
          "firstName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
        }
      },
      "id": "f23422e2-06b9-4ef9-9af8-191568b9ded7",
      "name": "atualiza_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3984,
        -1440
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f73c4b93-80ff-413a-a268-98dc7cc6d2d0",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3744,
        -1296
      ]
    },
    {
      "parameters": {
        "email": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "71",
                "value": "={{ $now.format('dd/MM/yyyy') }}"
              }
            ]
          },
          "firstName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"nome\"] }}",
          "lastName": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"sobrenome\"] }}",
          "phone": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
        }
      },
      "id": "6620d8fe-f5b4-40cf-acd5-697c4989b8f0",
      "name": "cria_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3984,
        -1168
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "704",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "baf8c3af-0e99-453b-ab30-2019fbc53f1c",
      "name": "tag_compra_aprovada12",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4304,
        -1296
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      }
    },
    {
      "parameters": {
        "content": "# [ADD TAG ACT] COMPRA APROVADA",
        "height": 600,
        "width": 1060,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        -1568
      ],
      "typeVersion": 1,
      "id": "d6ae860a-8cf7-42cf-8976-699553ea5800",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "703",
        "contactId": "={{ $node[\"atualiza_contato_no_ac2\"].json[\"id\"] }}"
      },
      "id": "cae96050-d481-4cf1-b0d5-dfea250d9b5a",
      "name": "tag_compra_aprovada",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4624,
        -1424
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra\"].json[\"telefone\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "[TRA_SET_2025] - [CAPTAÇÃO]"
            }
          ]
        }
      },
      "id": "111548de-21e8-415d-89b7-df2457c42800",
      "name": "Get many rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2368,
        -1168
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unnichat.com.br/a/start/2ftbsuK0aSSeuu2Kdhhp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $node[\"No Operation, do nothing1\"].json[\"nome\"] }}\",\n  \"telefone\": \"{{ $node[\"No Operation, do nothing1\"].json[\"telefone\"] }}\",\n  \"type\": \"mensagem\",\n  \"text\": {\n    \"body\": \"viroucliente\"\n  }\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        -1424
      ],
      "id": "e3e09314-a481-4e0b-92b9-7f3cb276f738",
      "name": "add tag virou_aluno",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "TMB Webhook",
            "content-length": "1908",
            "accept": "application/json, text/json, text/x-json, text/javascript, application/xml, text/xml",
            "accept-encoding": "gzip, deflate",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "request-context": "appId=cid-v1:37110701-0fcd-4560-a4d1-2e4ffb42e807",
            "request-id": "|68cd6ad90000000022c295eb6ab88211.0e93264a012dd4ff.",
            "traceparent": "00-68cd6ad90000000022c295eb6ab88211-0e93264a012dd4ff-00",
            "x-forwarded-for": "40.77.105.187",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3e4b5a65d457",
            "x-real-ip": "40.77.105.187"
          },
          "params": {},
          "query": {},
          "body": {
            "produtor": "Fabiana Del Padre Tome IBATRI",
            "lancamento": "Tributarista em Ação SET2025",
            "provedor_negociado": "TMB",
            "pedido": 1742521,
            "status_pedido": "Efetivado",
            "cliente": "Vanessa vergueniou ferreira bizio",
            "documento": "34821458810",
            "email": "nessaverg@hotmail.com",
            "valor_principal": 3198,
            "parcelas": 11,
            "valor_entrada": 266.5,
            "valor_parcela": 266.5,
            "valor_total": 3198,
            "taxa_administracao": 4,
            "criado_em": "2025-09-16T00:00:00",
            "data_efetivado": "2025-09-19T11:38:25.643382",
            "titulo": "Valor cheio - R$ 3.198 ou 12x de R$ 300,92",
            "code": "R1A110313ET",
            "endereco_completo": "Rua Arlindo Floriano de Oliveira,201, Apto 24 Parque Baguaçu - Araçatuba/SP CEP:16018-515 BR",
            "telefones": "+5517996261114",
            "telefone_ativo": "+5517996261114",
            "lancamento_id": 23962,
            "id_externo": null,
            "risco_compartilhado_em": "2025-09-16T18:52:44.722184-03:00",
            "avalista_nome": null,
            "avalista_telefone": null,
            "avalista_email": null,
            "avalista_documento": null,
            "avalista_data_nascimento": null,
            "nascimento": "1986-08-24T00:00:00",
            "id": 1742521,
            "produtor_id": 5259,
            "status_financeiro": "Adimplente",
            "utm_source": "VendedorPriscilla",
            "utm_medium": "VendedorPriscilla",
            "utm_content": "VendedorPriscilla",
            "utm_campaign": "TRASET25",
            "melhor_dia_pagamento": 10,
            "utm_last_source": "whatsapp-grupos",
            "utm_last_medium": "org",
            "utm_last_content": null,
            "utm_last_campaign": "TRA_SET_2025",
            "endereco_pais": "BR",
            "endereco_cep": "16018-515",
            "endereco_estado": "SP",
            "endereco_cidade": "Araçatuba",
            "endereco_bairro": "Parque Baguaçu",
            "endereco_logradouro": "Rua Arlindo Floriano de Oliveira",
            "endereco_numero": "201",
            "endereco_complemento": "Apto 24",
            "produtor_eduzz_id": null,
            "produto_eduzz_id": null,
            "checkout_eduzz_id": null,
            "valor_parcela_com_juros": null
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/fb78467b-b68d-47d3-abe4-491aa5758108-set",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-15T01:22:16.069Z",
      "createdAt": "2025-09-15T01:22:16.069Z",
      "role": "workflow:owner",
      "workflowId": "hEjE96Xb62Ib4x46",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-12T22:57:48.855Z",
      "createdAt": "2025-08-12T22:57:48.855Z",
      "id": "HuNb9yEX60oBTjdv",
      "name": "TMB"
    },
    {
      "updatedAt": "2025-08-12T22:55:31.236Z",
      "createdAt": "2025-08-12T22:55:31.236Z",
      "id": "aTDowSXZuPPnfLSY",
      "name": "COMPRA APROVADA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-19T16:08:18.332Z",
  "versionId": "c2ed06c2-0ea1-413a-910c-a686d9e49342"
}