workflows/[TRA_NOV_2025] [COMPRA APROVADA].json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "trata_dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Campos Personalizados de Contatos da Conta": {
      "main": [
        [
          {
            "node": "Listar Tags da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Listar Campos Personalizados de Contatos da Conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trata_dados1": {
      "main": [
        [
          {
            "node": "dados_da_compra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_da_compra1": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user": {
      "main": [
        [
          {
            "node": "email_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email_igual": {
      "main": [
        [
          {
            "node": "telefone_igual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_igual": {
      "main": [
        [
          {
            "node": "pesquisa_produto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_email1": {
      "main": [
        [
          {
            "node": "telefone_igual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_telefone1": {
      "main": [
        [
          {
            "node": "pesquisa_produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_produto1": {
      "main": [
        [
          {
            "node": "encontrou_produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_produto1": {
      "main": [
        [
          {
            "node": "pesquisa_conversao1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_produto1": {
      "main": [
        [
          {
            "node": "pesquisa_produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_conversao1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_conversao1": {
      "main": [
        [
          {
            "node": "encontrou_conversao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_conversao1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "encontrou_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase3": {
      "main": [
        [
          {
            "node": "insere_conversao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone2": {
      "main": [
        [
          {
            "node": "cria_contato_manychat1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat1": {
      "main": [
        [
          {
            "node": "verifica_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp1": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat1": {
      "main": [
        [
          {
            "node": "define_campo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone1": {
      "main": [
        [
          {
            "node": "envia_fluxo_boas_vindas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envia_fluxo_boas_vindas1": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T19:34:53.521Z",
  "id": "vHqM7gTvgmFV35Zv",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TRA_NOV_2025] [COMPRA APROVADA]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb41420f-037f-43aa-ac23-20554ac7d082",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1424,
        -1360
      ],
      "id": "dc3fe68c-0a2b-461e-ade4-43abd59249f7",
      "name": "Webhook",
      "webhookId": "eb41420f-037f-43aa-ac23-20554ac7d082"
    },
    {
      "parameters": {
        "url": "=https://{{ $node[\"Set\"].json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/tags?limit=1000&search={{ $node[\"Set\"].json[\"tag_procurada\"] }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Tags da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1760,
        -944
      ],
      "id": "496d3815-9924-484c-a524-750594bde818"
    },
    {
      "parameters": {
        "content": "## Para consulta\n \nUtilize os Nodes Abaixo para consultar os IDs dos Campos e Tags no ActiveCampaign",
        "height": 407.6377565498652,
        "width": 747.0856205721786
      },
      "id": "58e46a31-446d-43c8-8b73-49b44ffd8157",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        -1104
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $json[\"url_api_activecampaign\"] }}.api-us1.com/api/3/fields?limit=1000",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Api-Token",
              "value": "={{ $node[\"Set\"].json[\"Api-Token\"] }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Listar Campos Personalizados de Contatos da Conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1552,
        -944
      ],
      "id": "b3bf827f-4ee8-4f56-9d89-b8a3c6a5b29b"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Api-Token",
              "value": "3696e725bdca0e3ce53536c4ba23c8ecee77def78a7a229c5a44780b59bc088e2be9edb5"
            },
            {
              "name": "url_api_activecampaign",
              "value": "infomakers98413"
            },
            {
              "name": "tag_procurada",
              "value": "compra aprovada"
            }
          ]
        },
        "options": {}
      },
      "id": "faebe753-ccf7-4301-afd9-1a2ff3ba5791",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1360,
        -944
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "6dbbb32c-4485-45d7-bf98-98736a16d998",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3920,
        -96
      ],
      "webhookId": "e4336437-9903-41a8-874f-b298b2d4432b"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json.body.event;\n  \n  // 1. Telefone — normalizado com DDI\n  let telefone = data.userPhone || \"\";\n  telefone = telefone.replace(/\\D/g, \"\");\n  \n  // Verificar e corrigir números com múltiplos \"55\" no início\n  if (telefone.startsWith(\"5555\")) {\n    // Remove os dois primeiros \"55\" se houver \"5555\" no início\n    telefone = telefone.substring(2);\n  } else if (!telefone.startsWith(\"55\")) {\n    // Adiciona \"55\" se não começar com \"55\"\n    telefone = \"55\" + telefone;\n  }\n  \n  // 2. Email\n  const email = (data.userEmail || \"\").toLowerCase();\n  \n  // 3. Endereço — não está presente, retornando vazio\n  const endereco = {};\n  const enderecoCompleto = \"\";\n  \n  // 4. UTMs — não disponíveis neste payload, definindo como null\n  const utms = {\n    utm_source: null,\n    utm_medium: null,\n    utm_term: null,\n    utm_content: null,\n    utm_campaign: null\n  };\n  \n  // 5. Nome e sobrenome\n  const nomeCompleto = data.userName || \"\";\n  const partes = nomeCompleto.trim().split(\" \");\n  const nome = partes.shift();\n  const sobrenome = partes.join(\" \");\n  \n  // 6. Valores monetários\n  const valorTotal = parseFloat(data.totalAmount || 0) / 100;\n  \n  return {\n    json: {\n      telefone,\n      email,\n      enderecoSeparado: endereco,\n      enderecoCompleto,\n      utms,\n      nome,\n      sobrenome,\n      preco: parseFloat(valorTotal.toFixed(2)),\n      comissao: 0,\n      taxaPlataforma: 0,\n      preco_formatado: `R$ ${valorTotal.toFixed(2)}`,\n      comissao_formatada: \"R$ 0.00\",\n      taxaPlataforma_formatada: \"R$ 0.00\"\n    }\n  };\n});"
      },
      "id": "a98b48d8-a0e6-4e76-b9bb-a2c22c765c29",
      "name": "trata_dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1648,
        -1360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"email\"] }}"
            },
            {
              "name": "cpf/cnpj",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"event\"][\"userDocument\"] }}"
            },
            {
              "name": "nome_produto",
              "value": "Workshop Marketing com IA"
            },
            {
              "name": "transaction_id",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"event\"][\"transactionId\"] }}"
            },
            {
              "name": "product_id",
              "value": "tfJqQ2Ru8MZsuVgzTU6Z"
            },
            {
              "name": "preco",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"event\"][\"totalAmount\"] }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"event\"][\"paymentMethod\"] }}"
            },
            {
              "name": "trans_status",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"type\"] }}"
            },
            {
              "name": "data_compra",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"TrackingParameters\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"TrackingParameters\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"TrackingParameters\"][\"utm_term\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"TrackingParameters\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Webhook1\"].json[\"body\"][\"TrackingParameters\"][\"utm_campaign\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json[\"telefone\"] }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $json[\"sobrenome\"] }}"
            },
            {
              "name": "comissao_produtor",
              "value": "={{ $item(\"0\").$node[\"trata_dados1\"].json[\"comissao\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "593756a8-db45-4ec0-bf69-7a4e604c12e4",
      "name": "dados_da_compra1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1888,
        -1360
      ]
    },
    {
      "parameters": {
        "content": "# PARTE 1",
        "height": 347,
        "width": 1133,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -1488
      ],
      "typeVersion": 1,
      "id": "c6c04ad1-8075-4c96-9922-230efc0f853e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# PARTE 2",
        "height": 829.5067497930858,
        "width": 2877.798763063474
      },
      "id": "841abbbd-727d-4829-923d-e712146d2044",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        -656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0871ec89-d515-4068-a482-ddbf8dc79793",
      "name": "encontrou_user",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1552,
        -384
      ]
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "d6f93777-535b-4c0f-b50d-e34fd871a522",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1776,
        -224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"email\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"email\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b1c934a-a867-41fb-bc97-6a456b3a16e2",
      "name": "email_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1792,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"telefone\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0653796-9bca-4071-badc-8ad38f731704",
      "name": "telefone_igual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2432,
        -608
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "a679bd47-29bd-4aee-85cd-eba687aa4938",
      "name": "atualiza_email1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        -496
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $node[\"dados_da_compra1\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "1a9f6402-8894-4931-8652-99787ed3aea2",
      "name": "atualiza_telefone1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        -416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "produtos",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome_produto\"] }}"
            },
            {
              "keyName": "id_checkout",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"product_id\"] }}"
            }
          ]
        }
      },
      "id": "9430a973-1019-4cd0-b453-717fc9bfa04e",
      "name": "pesquisa_produto1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2416,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_produto1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84591c57-971e-4cbf-9404-5ea523a47b7a",
      "name": "encontrou_produto1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        -176
      ]
    },
    {
      "parameters": {
        "tableId": "produtos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome_produto\"] }}"
            },
            {
              "fieldId": "id_checkout",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"product_id\"] }}"
            }
          ]
        }
      },
      "id": "2ad26d6a-4a7c-45c3-99e1-3650e7a0d1c3",
      "name": "cria_produto1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2880,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_conversao1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a7c39671-fc0f-4767-a529-f0f2767fc1b9",
              "leftValue": "={{ $json[\"id_transacao\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"transaction_id\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc0e2944-af4f-4a87-b7b1-342c7d4763de",
      "name": "encontrou_conversao1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3280,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversoes",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_transacao",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"transaction_id\"] }}"
            },
            {
              "keyName": "produto",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome_produto\"] }}"
            }
          ]
        }
      },
      "id": "d4d05d9d-b093-46a4-8974-ff67944eef9f",
      "name": "pesquisa_conversao1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3056,
        -208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {},
      "id": "07f47326-3f7d-4f32-887c-1dcd3f0c7a3a",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3600,
        -304
      ]
    },
    {
      "parameters": {
        "tableId": "conversoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "data_conversao",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "produto",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome_produto\"] }}"
            },
            {
              "fieldId": "id_produto",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"product_id\"] }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"preco\"] }}"
            },
            {
              "fieldId": "parcelas",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"parcelas\"] }}"
            },
            {
              "fieldId": "oferta",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"oferta\"] }}"
            },
            {
              "fieldId": "id_transacao",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"transaction_id\"] }}"
            },
            {
              "fieldId": "comissao_gateway",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"gateway_comission\"] }}"
            },
            {
              "fieldId": "comissao_produtor",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"comissao_produtor\"] }}"
            },
            {
              "fieldId": "moeda",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"currency\"] }}"
            },
            {
              "fieldId": "forma_de_pagamento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"payment_method\"] }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"trans_status\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"Supabase3\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"Supabase3\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"Supabase3\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"Supabase3\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"Supabase3\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "documento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"cpf/cnpj\"] }}"
            }
          ]
        }
      },
      "id": "1ec4aade-ebf7-45bb-a2b6-8420057b76e3",
      "name": "insere_conversao1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3696,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            }
          ]
        }
      },
      "id": "1cb0fe30-c34f-480f-9dba-5144803e0420",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        -384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "Pág de Vendas | LCIA0425"
            }
          ]
        }
      },
      "id": "260500af-4b50-4a9b-8255-22be379b4d65",
      "name": "Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3488,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "30c46ee7-861d-4188-a449-e3b05fb21a83",
      "name": "nao_encontrou_telefone2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1840,
        432
      ]
    },
    {
      "parameters": {},
      "id": "5c728621-83c3-466a-b533-6c3eebfdd33c",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2816,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields1\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Tathi. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6257079e-5373-4ac9-9ec0-52753d64c808",
      "name": "cria_contato_manychat1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat1\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d136ef0-0492-4732-aef9-6b9e45c921a4",
      "name": "verifica_whatsapp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2336,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields1\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Tathi. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3bce32ae-0304-497b-87e6-4f26dd50082d",
      "name": "atualiza_contato_manychat1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2112,
        576
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "12909260"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f"
            }
          ]
        },
        "options": {}
      },
      "id": "e8120063-ca83-4063-b029-f8ba285024c7",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1616,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Bearer 950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat1\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat1\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "12909260"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields1\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb4e4186-81b9-4245-ade8-f15bffdd3239",
      "name": "define_campo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2368,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer 950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "flow_ns",
              "value": "content20250424124000_973911"
            },
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat1\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat1\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "736b5515-cdfc-4cae-94ec-f54479ac4845",
      "name": "envia_fluxo_boas_vindas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2592,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"dados_da_compra1\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "e5118f3a-25f0-41ac-ac2e-aba11545abd2",
              "name": "key",
              "value": "950377:4ebcc3f8b562a8b067e3c0ba1ab5f35f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f97f0dfa-a980-43ae-a609-d572485f8f04",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        432
      ]
    },
    {
      "parameters": {
        "content": "# PARTE 3",
        "height": 527.435403417942,
        "width": 1760.086888502658,
        "color": 5
      },
      "id": "8de36b64-8113-4015-85fa-5a96fedb55f5",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        256
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "2026",
            "content-type": "application/json",
            "x-forwarded-for": "13.218.152.105",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3e4b5a65d457",
            "x-hotmart-hottok": "U7gc34HtvSbJGZJ7T8mrFpmizTocLZ87876056",
            "x-real-ip": "13.218.152.105",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "suporte@fabianatome.com.br",
                "has_co_production": false,
                "name": "Tributarista em Ação",
                "warranty_date": "2025-08-26T00:00:00Z",
                "is_physical_product": false,
                "id": 5056602,
                "ucode": "f09c2f78-23ef-479c-bf7d-af3900faf006"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 20.26
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 280.65
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 300.91
                },
                "recurrence_number": 4,
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "origin": {
                  "sck": "whatsapp-api"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1755611102000,
                "offer": {
                  "code": "58a496q5",
                  "name": "Primeiro dia COM JUROS 12x",
                  "description": "Curso Tributarista em Ação - DESCONTO APLICADO DE R$ 4.000,00 por R$ 2.997,00 VÁLIDO APENAS HOJE"
                },
                "is_funnel": false,
                "order_date": 1755611099000,
                "date_next_charge": 1758283200000,
                "price": {
                  "currency_value": "BRL",
                  "value": 300.91
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 300.91
                },
                "business_model": "I",
                "invoice_by": "HOTMART",
                "transaction": "HP3192999781",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Jurídica",
                "document": "57494571000147",
                "name": "IBATRI - INSTITUTO BRASILEIRO DE APERFEIÇOAMENTO TRIBUTÁRIO LTDA"
              },
              "subscription": {
                "subscriber": {
                  "code": "30V6VE6J"
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "14",
                "address": {
                  "zipcode": "16401360",
                  "country": "Brasil",
                  "number": "5226263714770188",
                  "address": "Rua Doutor João Marques Sant'Ana",
                  "city": "Lins",
                  "state": "SP",
                  "neighborhood": "Jardim Alvorada",
                  "complement": "Casa",
                  "country_iso": "BR"
                },
                "document": "33187557880",
                "name": "Henrique Alves Martins",
                "last_name": "Martins",
                "checkout_phone": "11984151865",
                "first_name": "Henrique",
                "email": "hamartinsjazz@gmail.com",
                "document_type": "CPF"
              }
            },
            "id": "71c5ecd0-0fd0-414c-b4c2-7dfbe212bb90",
            "creation_date": 1755611209105,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/327a0e12-0815-45eb-8504-0a9d28da51cc",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-03T19:34:53.521Z",
      "createdAt": "2025-11-03T19:34:53.521Z",
      "role": "workflow:owner",
      "workflowId": "vHqM7gTvgmFV35Zv",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-12T22:55:39.311Z",
      "createdAt": "2025-08-12T22:55:39.311Z",
      "id": "Xm76w6JgPtnTb1ae",
      "name": "HOTMART"
    },
    {
      "updatedAt": "2025-08-12T22:55:31.236Z",
      "createdAt": "2025-08-12T22:55:31.236Z",
      "id": "aTDowSXZuPPnfLSY",
      "name": "COMPRA APROVADA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T19:36:18.872Z",
  "versionId": "da57e1fa-97a5-4ec2-98ab-eff10e3e9857"
}