workflows/[TRA_SET_2025] - [PESQUISA].json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-03T22:27:37.573Z",
    "createdAt": "2025-12-03T22:27:37.573Z",
    "versionId": "5b93fb72-f991-4674-96d8-a88798d5c55a",
    "workflowId": "a7pyKKnxCeRPiJkX",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tra_set_2025_pesquisa",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -16,
          -16
        ],
        "id": "c75b2b9e-7101-43a1-aaba-89edf6454257",
        "name": "Webhook",
        "webhookId": "eab19ccd-2ae3-4b64-a5b9-bba6c3b47ae3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bb839055-124b-4671-99e9-d13293daa8c7",
                "name": "Qual a sua faixa etária?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual a sua faixa etária?  \"] }}",
                "type": "string"
              },
              {
                "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
                "name": "Você já me acompanha há quanto tempo?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Você já me acompanha há quanto tempo?  \"] }}",
                "type": "string"
              },
              {
                "id": "7b8ac769-0ee5-410d-849d-34385009029b",
                "name": "No momento você é ?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"No momento você é ?\"] }}",
                "type": "string"
              },
              {
                "id": "406c5c3d-be5c-4dfa-a517-5854195431be",
                "name": "Qual a sua experiência no Direito?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual a sua experiência no Direito?\"] }}",
                "type": "string"
              },
              {
                "id": "1d0c0949-f472-4662-816b-e0eaf511f1b0",
                "name": "Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?",
                "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?\"] }}",
                "type": "string"
              },
              {
                "id": "39ac2ebc-5c00-4c88-80b4-862fb3df3a1b",
                "name": "O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível)",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível) \"] }}",
                "type": "string"
              },
              {
                "id": "f329b60d-6c7f-4c54-9c56-c41fb2dacd6f",
                "name": "Quais são seus maiores medos e dúvidas sobre atuar no Tributário?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Quais são seus maiores medos e dúvidas sobre atuar no Tributário?  \"] }}",
                "type": "string"
              },
              {
                "id": "90ea93b8-ef53-4800-a1d3-7e187eaebad1",
                "name": "Qual é o seu maior objetivo profissional e pessoal?",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual é o seu maior objetivo profissional e pessoal?\"] }}",
                "type": "string"
              },
              {
                "id": "6c45ba4f-737d-45f5-a1d7-4fa3449a0c7b",
                "name": "E-mail",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"E-mail\"] }}",
                "type": "string"
              },
              {
                "id": "6b94c43a-9dc7-4308-bc77-bd711252d268",
                "name": "WhatsApp",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"WhatsApp\"] }}",
                "type": "string"
              },
              {
                "id": "97373297-68f5-4393-9454-6dfc30b67aa1",
                "name": "Evento",
                "value": "=[TRA_SET_2025] [PESQUISA]",
                "type": "string"
              },
              {
                "id": "674adb7b-9388-4651-9c7f-b77bfa8082f4",
                "name": "Qual sua situação atual em relação ao Tributário",
                "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual sua situação atual em relação ao Tributário?\"] }}",
                "type": "string"
              },
              {
                "id": "c4a81ec4-9aa3-4bb4-a541-487381941fd5",
                "name": "Qual sua situação atual em relação ao Tributário?",
                "value": "={{ $json[\"body\"][\"Qual sua situação atual em relação ao Tributário?\"] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "4cfdb4cf-df16-446f-9c9d-abfc4cf1936c",
        "name": "dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          464,
          -16
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body || {};\nlet telefone = body[\"WhatsApp\"] || \"\";\n\n// Remove espaços, traços e parênteses\ntelefone = telefone.replace(/\\D/g, \"\");\n\n// Se não começa com \"55\", adiciona\nif (!telefone.startsWith(\"55\")) {\n  telefone = \"55\" + telefone;\n}\nbody[\"WhatsApp\"] = telefone;\n\n// Verifica e ajusta o campo \"No momento você é ?\"\nif ((body[\"No momento você é ?\"] || \"\").trim() === \"Outro\") {\n  const outraResposta = body[\"Outra (escreva aqui)\"] || \"\";\n  body[\"No momento você é ?\"] = outraResposta;\n}\n\n// Retorna o objeto ajustado\nreturn {\n  json: {\n    ...$json,\n    body\n  }\n};"
        },
        "id": "f0e2e07a-6e0e-430a-83ab-9390875ef32e",
        "name": "formata_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -16
        ]
      },
      {
        "parameters": {
          "content": "# PESQUISA DO ELEMENTOR",
          "height": 720,
          "width": 1215
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -128,
          -144
        ],
        "id": "e4a8a8f6-926d-486a-9003-8ba629460368",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "telefone",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"WhatsApp\"] }}"
              },
              {
                "keyName": "email",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"E-mail\"] }}"
              }
            ]
          }
        },
        "id": "ac9b9fed-6fcc-4880-bd0c-5974a4756059",
        "name": "pesquisa_user",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          672,
          -16
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "tableId": "pesquisas",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "id_user",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              },
              {
                "fieldId": "nome",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"nome\"] }}"
              },
              {
                "fieldId": "sobrenome",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"sobrenome\"] }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"email\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"telefone\"] }}"
              },
              {
                "fieldId": "utm_source",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_source\"] }}"
              },
              {
                "fieldId": "utm_campaign",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_campaign\"] }}"
              },
              {
                "fieldId": "utm_term",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_term\"] }}"
              },
              {
                "fieldId": "utm_medium",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_medium\"] }}"
              },
              {
                "fieldId": "utm_content",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_content\"] }}"
              },
              {
                "fieldId": "evento",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
              },
              {
                "fieldId": "pergunta1",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual a sua faixa etária?\"] }}"
              },
              {
                "fieldId": "pergunta2",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Você já me acompanha há quanto tempo?\"] }}"
              },
              {
                "fieldId": "pergunta3",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"No momento você é ?\"] }}"
              },
              {
                "fieldId": "pergunta4",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual a sua experiência no Direito?\"] }}"
              },
              {
                "fieldId": "pergunta5",
                "fieldValue": "={{ $node[\"dados\"].json[\"Qual sua situação atual em relação ao Tributário?\"] }}"
              },
              {
                "fieldId": "pergunta6",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível)\"] }}"
              },
              {
                "fieldId": "pergunta7",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Quais são seus maiores medos e dúvidas sobre atuar no Tributário?\"] }}"
              },
              {
                "fieldId": "pergunta8",
                "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual é o seu maior objetivo profissional e pessoal?\"] }}"
              },
              {
                "fieldId": "page",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"pagina\"] }}"
              },
              {
                "fieldId": "data_pesquisa",
                "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"data_cadastro\"] }}"
              },
              {
                "fieldId": "pergunta10",
                "fieldValue": "={{ $node[\"dados\"].json[\"Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?\"] }}"
              }
            ]
          }
        },
        "id": "38112724-3228-49d1-a48b-7062a0147fe8",
        "name": "insere_cadastro",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          880,
          368
        ],
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "pesquisas",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id_user",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
              },
              {
                "keyName": "evento",
                "condition": "eq",
                "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
              }
            ]
          }
        },
        "id": "1baf6388-84a2-471a-a84d-1e83204c3591",
        "name": "pesquisa_pesquisa",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          464,
          272
        ],
        "executeOnce": false,
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f7c5f42f-d024-4e8a-8208-cf79ae590492",
                "leftValue": "={{ $item(\"0\").$node[\"pesquisa_pesquisa\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ec8747b2-2069-4bc6-a1d8-285129f4c355",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          688,
          272
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e071ee3a-1fe1-4308-91a8-e1a2f6010cfe",
                "leftValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          -16
        ],
        "id": "d659c618-f340-4d40-b4c7-b4c5355bc62f",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "cadastros",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "condition": "eq",
                "keyValue": "={{ $json[\"email\"] }}"
              },
              {
                "keyName": "evento",
                "condition": "eq",
                "keyValue": "[TRA_SET_2025] - [CAPTAÇÃO]"
              }
            ]
          }
        },
        "id": "ec0c773b-c088-4383-ab85-be8067e738e5",
        "name": "pesquisa_cadastro",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -16,
          288
        ],
        "executeOnce": false,
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f7c5f42f-d024-4e8a-8208-cf79ae590492",
                "leftValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a0a36108-eaf2-4d80-beaa-97e1db796e26",
        "name": "If2",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          192,
          288
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "first_name",
                "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
              },
              {
                "name": "last_name",
                "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
              },
              {
                "name": "has_opt_in_sms",
                "value": "true"
              },
              {
                "name": "has_opt_in_email",
                "value": "true"
              },
              {
                "name": "consent_phrase",
                "value": "Olá, aqui é a Fabiana. Posso ter seu contato?"
              },
              {
                "name": "phone",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              },
              {
                "name": "email",
                "value": "."
              },
              {
                "name": "whatsapp_phone",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "3c330cf9-14e7-45c7-8c7b-6be47627264c",
        "name": "cria_contato_manychat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          688,
          688
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
                "leftValue": "={{ $node[\"cria_contato_manychat\"].json[\"error\"][\"message\"] }}",
                "rightValue": "The input value is not a valid WhatsApp ID",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1def7842-5b16-4309-9ecf-81ba5d436c36",
        "name": "verifica_whatsapp",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1104,
          688
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "first_name",
                "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
              },
              {
                "name": "last_name",
                "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
              },
              {
                "name": "has_opt_in_sms",
                "value": "true"
              },
              {
                "name": "has_opt_in_email",
                "value": "true"
              },
              {
                "name": "consent_phrase",
                "value": "Olá, aqui é a Fabiana. Posso ter seu contato?"
              },
              {
                "name": "whatsapp_phone",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              },
              {
                "name": "phone",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              },
              {
                "name": "email",
                "value": "."
              },
              {
                "name": "subscriber_id",
                "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c8a9f83e-6e81-48a9-a39d-e2be2011dec6",
        "name": "atualiza_contato_manychat",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1136,
          944
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/setCustomField",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "subscriber_id",
                "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
              },
              {
                "name": "field_id",
                "value": "13217628"
              },
              {
                "name": "field_value",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d5447232-d3b4-499f-b81d-fc7f6e4454a0",
        "name": "define_campo_telefone",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1408,
          944
        ]
      },
      {
        "parameters": {},
        "id": "89abd1a3-414b-402b-bf95-4699f7d76bf2",
        "name": "No Operation, do nothing2",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          848,
          832
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "id": "344ec0b7-ba8d-43d8-b632-0b478149cd2a",
        "name": "nao_encontrou_telefone1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          416,
          768
        ]
      },
      {
        "parameters": {},
        "id": "9e7f7470-6ecc-470b-91f7-6dc877eb82a4",
        "name": "fim1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1840,
          944
        ]
      },
      {
        "parameters": {
          "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "field_id",
                "value": "13217628"
              },
              {
                "name": "field_value",
                "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "4e449761-14db-41ab-96d6-6a01106dab46",
        "name": "procura_id_manychat_pelo_telefone1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          208,
          768
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
                "name": "nome",
                "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"nome\"] }}",
                "type": "string"
              },
              {
                "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
                "name": "telefone",
                "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"telefone\"] }}",
                "type": "string"
              },
              {
                "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
                "name": "data",
                "value": "={{ $now }}",
                "type": "string"
              },
              {
                "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
                "name": "sobrenome",
                "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"sobrenome\"] }}",
                "type": "string"
              },
              {
                "id": "e5118f3a-25f0-41ac-ac2e-aba11545abd2",
                "name": "key",
                "value": "900578:b58cb2c051a53536a248977b8c3a45d4",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ed06cd3e-4758-44d0-aa17-da48e8a90e9f",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          768
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "6ad2b259-0a46-4fa5-b0cf-09a1c7d865e5",
                "leftValue": "={{ $json.data[0].tags }}",
                "rightValue": "leads_Workshop_PM",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "e6aea5ef-6104-4d67-9995-ce12951aca88",
                "leftValue": "={{ $json.data[0].tags[0] }}",
                "rightValue": "recebeu_recuperacao_WPM",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "d79bad5c-e001-4271-9dec-8f9dc2fd062e",
        "name": "If4",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          608,
          928
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.manychat.com/fb/subscriber/addTag",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "authorization",
                "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "subscriber_id",
                "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
              },
              {
                "name": "tag_id",
                "value": "70249421"
              }
            ]
          },
          "options": {}
        },
        "id": "2f65cece-d6c5-4636-93dc-d5c74e73e78b",
        "name": "tra_jul_2025_preencheu_forms",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1616,
          944
        ]
      },
      {
        "parameters": {
          "tableId": "users",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "email",
                "fieldValue": "={{ $node[\"dados\"].json[\"E-mail\"] }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $node[\"dados\"].json[\"WhatsApp\"] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1216,
          0
        ],
        "id": "9a6bcfe6-934f-4b98-bd76-b160ff765176",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "06funpVK0RasJnc4",
            "name": "Supabase - Fabiana Tomé"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1424,
          0
        ],
        "id": "7a09d008-c569-4262-95a6-9d5e2ede6561",
        "name": "Wait",
        "webhookId": "d502ed56-5c9f-4e2b-8a85-260f320deb54"
      },
      {
        "parameters": {
          "url": "https://fabianatome.api-us1.com/api/3/contacts",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "email",
                "value": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Api-Token",
                "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
              }
            ]
          },
          "options": {}
        },
        "id": "d14e5117-560e-4d76-8aec-e7eb5f383b14",
        "name": "HTTP Request1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          304
        ]
      },
      {
        "parameters": {
          "errorMessage": "An error ocurred!"
        },
        "id": "8f899c08-8bc1-47ed-87a4-be434e7767d1",
        "name": "Stop and Error3",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1952,
          480
        ]
      },
      {
        "parameters": {
          "errorMessage": "An error ocurred!"
        },
        "id": "7710b723-42ef-46ed-81b2-92db916d38ac",
        "name": "Stop and Error2",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1952,
          128
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
          "updateFields": {
            "email": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
            "firstName": "={{ $node[\"pesquisa_user\"].json[\"nome\"] }}",
            "lastName": "={{ $node[\"pesquisa_user\"].json[\"sobrenome\"] }}",
            "phone": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}"
          }
        },
        "id": "59c65b3f-cdb9-436c-88a3-5f6d1f42c7ce",
        "name": "atualiza_contato_no_ac2",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          1632,
          160
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "email": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
          "updateIfExists": true,
          "additionalFields": {
            "firstName": "={{ $node[\"pesquisa_user\"].json[\"nome\"] }}",
            "lastName": "={{ $node[\"pesquisa_user\"].json[\"sobrenome\"] }}",
            "phone": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}"
          }
        },
        "id": "0eb9ff6a-3e5e-460a-84d6-3bb0ef8939ee",
        "name": "cria_contato_no_ac2",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          1632,
          448
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "resource": "contactTag",
          "tagId": "721",
          "contactId": "={{ $json[\"id\"] }}"
        },
        "id": "f5d22f12-2b82-4d89-89f5-4b0bcdfdfa64",
        "name": "tag_compra_aprovada12",
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          1952,
          304
        ],
        "credentials": {
          "activeCampaignApi": {
            "id": "4EetjSxVIE3QPLxy",
            "name": "ActiveCampaign - fabianatome"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
                "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "25899521-538b-4db0-9df4-0ea5b75a8016",
        "name": "If3",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1392,
          304
        ]
      }
    ],
    "connections": {
      "dados": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formata_dados": {
        "main": [
          [
            {
              "node": "dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_pesquisa": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "insere_cadastro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "formata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "pesquisa_cadastro",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_cadastro": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "pesquisa_pesquisa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_contato_manychat": {
        "main": [
          [
            {
              "node": "verifica_whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "verifica_whatsapp": {
        "main": [
          [],
          [
            {
              "node": "atualiza_contato_manychat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_contato_manychat": {
        "main": [
          [
            {
              "node": "define_campo_telefone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "define_campo_telefone": {
        "main": [
          [
            {
              "node": "tra_jul_2025_preencheu_forms",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "nao_encontrou_telefone1": {
        "main": [
          [
            {
              "node": "cria_contato_manychat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "procura_id_manychat_pelo_telefone1": {
        "main": [
          [
            {
              "node": "nao_encontrou_telefone1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "procura_id_manychat_pelo_telefone1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If4": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "atualiza_contato_manychat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "insere_cadastro": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tra_jul_2025_preencheu_forms": {
        "main": [
          [
            {
              "node": "fim1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "atualiza_contato_no_ac2": {
        "main": [
          [
            {
              "node": "tag_compra_aprovada12",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_contato_no_ac2": {
        "main": [
          [
            {
              "node": "tag_compra_aprovada12",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "atualiza_contato_no_ac2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "cria_contato_no_ac2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "5b93fb72-f991-4674-96d8-a88798d5c55a",
  "connections": {
    "dados": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_pesquisa": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "insere_cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "pesquisa_cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "pesquisa_pesquisa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_manychat": {
      "main": [
        [
          {
            "node": "verifica_whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verifica_whatsapp": {
      "main": [
        [],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_manychat": {
      "main": [
        [
          {
            "node": "define_campo_telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define_campo_telefone": {
      "main": [
        [
          {
            "node": "tra_jul_2025_preencheu_forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao_encontrou_telefone1": {
      "main": [
        [
          {
            "node": "cria_contato_manychat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "procura_id_manychat_pelo_telefone1": {
      "main": [
        [
          {
            "node": "nao_encontrou_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "procura_id_manychat_pelo_telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualiza_contato_manychat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_cadastro": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tra_jul_2025_preencheu_forms": {
      "main": [
        [
          {
            "node": "fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-16T17:46:58.562Z",
  "id": "a7pyKKnxCeRPiJkX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TRA_SET_2025] - [PESQUISA]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tra_set_2025_pesquisa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        -16
      ],
      "id": "c75b2b9e-7101-43a1-aaba-89edf6454257",
      "name": "Webhook",
      "webhookId": "eab19ccd-2ae3-4b64-a5b9-bba6c3b47ae3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb839055-124b-4671-99e9-d13293daa8c7",
              "name": "Qual a sua faixa etária?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual a sua faixa etária?  \"] }}",
              "type": "string"
            },
            {
              "id": "b5b5da8a-46c5-44bd-acb3-3f246b420a53",
              "name": "Você já me acompanha há quanto tempo?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Você já me acompanha há quanto tempo?  \"] }}",
              "type": "string"
            },
            {
              "id": "7b8ac769-0ee5-410d-849d-34385009029b",
              "name": "No momento você é ?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"No momento você é ?\"] }}",
              "type": "string"
            },
            {
              "id": "406c5c3d-be5c-4dfa-a517-5854195431be",
              "name": "Qual a sua experiência no Direito?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual a sua experiência no Direito?\"] }}",
              "type": "string"
            },
            {
              "id": "1d0c0949-f472-4662-816b-e0eaf511f1b0",
              "name": "Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?\"] }}",
              "type": "string"
            },
            {
              "id": "39ac2ebc-5c00-4c88-80b4-862fb3df3a1b",
              "name": "O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível)",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível) \"] }}",
              "type": "string"
            },
            {
              "id": "f329b60d-6c7f-4c54-9c56-c41fb2dacd6f",
              "name": "Quais são seus maiores medos e dúvidas sobre atuar no Tributário?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Quais são seus maiores medos e dúvidas sobre atuar no Tributário?  \"] }}",
              "type": "string"
            },
            {
              "id": "90ea93b8-ef53-4800-a1d3-7e187eaebad1",
              "name": "Qual é o seu maior objetivo profissional e pessoal?",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual é o seu maior objetivo profissional e pessoal?\"] }}",
              "type": "string"
            },
            {
              "id": "6c45ba4f-737d-45f5-a1d7-4fa3449a0c7b",
              "name": "E-mail",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"E-mail\"] }}",
              "type": "string"
            },
            {
              "id": "6b94c43a-9dc7-4308-bc77-bd711252d268",
              "name": "WhatsApp",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"WhatsApp\"] }}",
              "type": "string"
            },
            {
              "id": "97373297-68f5-4393-9454-6dfc30b67aa1",
              "name": "Evento",
              "value": "=[TRA_SET_2025] [PESQUISA]",
              "type": "string"
            },
            {
              "id": "674adb7b-9388-4651-9c7f-b77bfa8082f4",
              "name": "Qual sua situação atual em relação ao Tributário",
              "value": "={{ $item(\"0\").$node[\"formata_dados\"].json[\"body\"][\"Qual sua situação atual em relação ao Tributário?\"] }}",
              "type": "string"
            },
            {
              "id": "c4a81ec4-9aa3-4bb4-a541-487381941fd5",
              "name": "Qual sua situação atual em relação ao Tributário?",
              "value": "={{ $json[\"body\"][\"Qual sua situação atual em relação ao Tributário?\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4cfdb4cf-df16-446f-9c9d-abfc4cf1936c",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        464,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nlet telefone = body[\"WhatsApp\"] || \"\";\n\n// Remove espaços, traços e parênteses\ntelefone = telefone.replace(/\\D/g, \"\");\n\n// Se não começa com \"55\", adiciona\nif (!telefone.startsWith(\"55\")) {\n  telefone = \"55\" + telefone;\n}\nbody[\"WhatsApp\"] = telefone;\n\n// Verifica e ajusta o campo \"No momento você é ?\"\nif ((body[\"No momento você é ?\"] || \"\").trim() === \"Outro\") {\n  const outraResposta = body[\"Outra (escreva aqui)\"] || \"\";\n  body[\"No momento você é ?\"] = outraResposta;\n}\n\n// Retorna o objeto ajustado\nreturn {\n  json: {\n    ...$json,\n    body\n  }\n};"
      },
      "id": "f0e2e07a-6e0e-430a-83ab-9390875ef32e",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -16
      ]
    },
    {
      "parameters": {
        "content": "# PESQUISA DO ELEMENTOR",
        "height": 720,
        "width": 1215
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -144
      ],
      "id": "e4a8a8f6-926d-486a-9003-8ba629460368",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"WhatsApp\"] }}"
            },
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"E-mail\"] }}"
            }
          ]
        }
      },
      "id": "ac9b9fed-6fcc-4880-bd0c-5974a4756059",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        -16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "pesquisas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"nome\"] }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"sobrenome\"] }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"email\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"telefone\"] }}"
            },
            {
              "fieldId": "utm_source",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_source\"] }}"
            },
            {
              "fieldId": "utm_campaign",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_campaign\"] }}"
            },
            {
              "fieldId": "utm_term",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_term\"] }}"
            },
            {
              "fieldId": "utm_medium",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_medium\"] }}"
            },
            {
              "fieldId": "utm_content",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"utm_content\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            },
            {
              "fieldId": "pergunta1",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual a sua faixa etária?\"] }}"
            },
            {
              "fieldId": "pergunta2",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Você já me acompanha há quanto tempo?\"] }}"
            },
            {
              "fieldId": "pergunta3",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"No momento você é ?\"] }}"
            },
            {
              "fieldId": "pergunta4",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual a sua experiência no Direito?\"] }}"
            },
            {
              "fieldId": "pergunta5",
              "fieldValue": "={{ $node[\"dados\"].json[\"Qual sua situação atual em relação ao Tributário?\"] }}"
            },
            {
              "fieldId": "pergunta6",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível)\"] }}"
            },
            {
              "fieldId": "pergunta7",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Quais são seus maiores medos e dúvidas sobre atuar no Tributário?\"] }}"
            },
            {
              "fieldId": "pergunta8",
              "fieldValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Qual é o seu maior objetivo profissional e pessoal?\"] }}"
            },
            {
              "fieldId": "page",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"pagina\"] }}"
            },
            {
              "fieldId": "data_pesquisa",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"data_cadastro\"] }}"
            },
            {
              "fieldId": "pergunta10",
              "fieldValue": "={{ $node[\"dados\"].json[\"Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?\"] }}"
            }
          ]
        }
      },
      "id": "38112724-3228-49d1-a48b-7062a0147fe8",
      "name": "insere_cadastro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        368
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pesquisas",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"dados\"].json[\"Evento\"] }}"
            }
          ]
        }
      },
      "id": "1baf6388-84a2-471a-a84d-1e83204c3591",
      "name": "pesquisa_pesquisa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        272
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7c5f42f-d024-4e8a-8208-cf79ae590492",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_pesquisa\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec8747b2-2069-4bc6-a1d8-285129f4c355",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e071ee3a-1fe1-4308-91a8-e1a2f6010cfe",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_user\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -16
      ],
      "id": "d659c618-f340-4d40-b4c7-b4c5355bc62f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json[\"email\"] }}"
            },
            {
              "keyName": "evento",
              "condition": "eq",
              "keyValue": "[TRA_SET_2025] - [CAPTAÇÃO]"
            }
          ]
        }
      },
      "id": "ec0c773b-c088-4383-ab85-be8067e738e5",
      "name": "pesquisa_cadastro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        288
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7c5f42f-d024-4e8a-8208-cf79ae590492",
              "leftValue": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0a36108-eaf2-4d80-beaa-97e1db796e26",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Fabiana. Posso ter seu contato?"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3c330cf9-14e7-45c7-8c7b-6be47627264c",
      "name": "cria_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        688
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "0b43ebf2-3b3b-4851-b3ff-a91252309dfd",
              "leftValue": "={{ $node[\"cria_contato_manychat\"].json[\"error\"][\"message\"] }}",
              "rightValue": "The input value is not a valid WhatsApp ID",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1def7842-5b16-4309-9ecf-81ba5d436c36",
      "name": "verifica_whatsapp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/updateSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "first_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"nome\"] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $node[\"Edit Fields2\"].json[\"sobrenome\"] }}"
            },
            {
              "name": "has_opt_in_sms",
              "value": "true"
            },
            {
              "name": "has_opt_in_email",
              "value": "true"
            },
            {
              "name": "consent_phrase",
              "value": "Olá, aqui é a Fabiana. Posso ter seu contato?"
            },
            {
              "name": "whatsapp_phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            },
            {
              "name": "email",
              "value": "."
            },
            {
              "name": "subscriber_id",
              "value": "={{ $json[\"data\"][\"0\"][\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8a9f83e-6e81-48a9-a39d-e2be2011dec6",
      "name": "atualiza_contato_manychat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1136,
        944
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "field_id",
              "value": "13217628"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5447232-d3b4-499f-b81d-fc7f6e4454a0",
      "name": "define_campo_telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1408,
        944
      ]
    },
    {
      "parameters": {},
      "id": "89abd1a3-414b-402b-bf95-4699f7d76bf2",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "344ec0b7-ba8d-43d8-b632-0b478149cd2a",
      "name": "nao_encontrou_telefone1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        416,
        768
      ]
    },
    {
      "parameters": {},
      "id": "9e7f7470-6ecc-470b-91f7-6dc877eb82a4",
      "name": "fim1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        944
      ]
    },
    {
      "parameters": {
        "url": "https://api.manychat.com/fb/subscriber/findByCustomField",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "field_id",
              "value": "13217628"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Edit Fields2\"].json[\"telefone\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e449761-14db-41ab-96d6-6a01106dab46",
      "name": "procura_id_manychat_pelo_telefone1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        768
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53e209f-3f99-47cf-ac2c-48e2744c2567",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"nome\"] }}",
              "type": "string"
            },
            {
              "id": "6a122e24-9278-4fa5-aba6-ea01b413ed09",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"telefone\"] }}",
              "type": "string"
            },
            {
              "id": "af5246e1-afa0-4fc2-9a07-cf21cfc43f0b",
              "name": "data",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "00fa81b1-b695-4099-973d-712c2f2a2a99",
              "name": "sobrenome",
              "value": "={{ $item(\"0\").$node[\"pesquisa_cadastro\"].json[\"sobrenome\"] }}",
              "type": "string"
            },
            {
              "id": "e5118f3a-25f0-41ac-ac2e-aba11545abd2",
              "name": "key",
              "value": "900578:b58cb2c051a53536a248977b8c3a45d4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed06cd3e-4758-44d0-aa17-da48e8a90e9f",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ad2b259-0a46-4fa5-b0cf-09a1c7d865e5",
              "leftValue": "={{ $json.data[0].tags }}",
              "rightValue": "leads_Workshop_PM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e6aea5ef-6104-4d67-9995-ce12951aca88",
              "leftValue": "={{ $json.data[0].tags[0] }}",
              "rightValue": "recebeu_recuperacao_WPM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "d79bad5c-e001-4271-9dec-8f9dc2fd062e",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "=Bearer {{ $node[\"Edit Fields2\"].json[\"key\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{\n  $node[\"cria_contato_manychat\"].runIndex >= 0 \n    ? $node[\"cria_contato_manychat\"].json[\"data\"][\"id\"]\n    : $node[\"procura_id_manychat_pelo_telefone1\"].runIndex >= 0 \n      ? $node[\"procura_id_manychat_pelo_telefone1\"].json[\"data\"][\"0\"][\"id\"]\n              : null\n}}"
            },
            {
              "name": "tag_id",
              "value": "70249421"
            }
          ]
        },
        "options": {}
      },
      "id": "2f65cece-d6c5-4636-93dc-d5c74e73e78b",
      "name": "tra_jul_2025_preencheu_forms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1616,
        944
      ]
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $node[\"dados\"].json[\"E-mail\"] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $node[\"dados\"].json[\"WhatsApp\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "9a6bcfe6-934f-4b98-bd76-b160ff765176",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        0
      ],
      "id": "7a09d008-c569-4262-95a6-9d5e2ede6561",
      "name": "Wait",
      "webhookId": "d502ed56-5c9f-4e2b-8a85-260f320deb54"
    },
    {
      "parameters": {
        "url": "https://fabianatome.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
            }
          ]
        },
        "options": {}
      },
      "id": "d14e5117-560e-4d76-8aec-e7eb5f383b14",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        304
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "8f899c08-8bc1-47ed-87a4-be434e7767d1",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1952,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "7710b723-42ef-46ed-81b2-92db916d38ac",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1952,
        128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "email": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
          "firstName": "={{ $node[\"pesquisa_user\"].json[\"nome\"] }}",
          "lastName": "={{ $node[\"pesquisa_user\"].json[\"sobrenome\"] }}",
          "phone": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}"
        }
      },
      "id": "59c65b3f-cdb9-436c-88a3-5f6d1f42c7ce",
      "name": "atualiza_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1632,
        160
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "email": "={{ $node[\"pesquisa_user\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $node[\"pesquisa_user\"].json[\"nome\"] }}",
          "lastName": "={{ $node[\"pesquisa_user\"].json[\"sobrenome\"] }}",
          "phone": "={{ $node[\"pesquisa_user\"].json[\"telefone\"] }}"
        }
      },
      "id": "0eb9ff6a-3e5e-460a-84d6-3bb0ef8939ee",
      "name": "cria_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1632,
        448
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "721",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "f5d22f12-2b82-4d89-89f5-4b0bcdfdfa64",
      "name": "tag_compra_aprovada12",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1952,
        304
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "25899521-538b-4db0-9df4-0ea5b75a8016",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1392,
        304
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "WordPress/6.6.2; https://tributaristaemacao.com.br",
            "content-length": "993",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "186.209.113.102",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3e4b5a65d457",
            "x-real-ip": "186.209.113.102"
          },
          "params": {},
          "query": {},
          "body": {
            "ETAPA01": "",
            "Qual a sua faixa etária?  ": "36 a 45 anos",
            "ETAPA02": "",
            "Você já me acompanha há quanto tempo?  ": "Entre 4 a 6 meses",
            "ETAPA03": "",
            "No momento você é ?": "Outro",
            "Outra (escreva aqui)": "Engenheiro",
            "ETAPA04": "",
            "Qual a sua experiência no Direito?": "Entre 1 e 3 anos",
            "ETAPA05": "",
            "Qual a faixa de renda familiar (somando todas as pessoas que vivem com você)?": "Até R$ 2.000",
            "ETAPA06": "",
            "Qual sua situação atual em relação ao Tributário?": "É um desejo para o futuro, sem pressa",
            "ETAPA07": "",
            "O que fez você decidir participar da Semana da Prática Tributária? (Seja o mais específico possível) ": "teste",
            "ETAPA08": "",
            "Quais são seus maiores medos e dúvidas sobre atuar no Tributário?  ": "asfasfafafsa",
            "ETAPA09": "",
            "Qual é o seu maior objetivo profissional e pessoal?": "teste",
            "ETAPA10": "",
            "E-mail": "contato@authlike.com",
            "WhatsApp": "27998210071",
            "Nome": "AuthLike",
            "form_id": "d4d55a8",
            "form_name": "STP4_FORM_PESQUISA_SET25"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/tra_set_2025_pesquisa",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-16T17:46:58.562Z",
      "createdAt": "2025-08-16T17:46:58.562Z",
      "role": "workflow:owner",
      "workflowId": "a7pyKKnxCeRPiJkX",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-29T22:17:41.571Z",
  "versionId": "5b93fb72-f991-4674-96d8-a88798d5c55a"
}