workflows/[TRA_SET_2025] - [CAPTAÇÃO] Sendflow copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "pesquisa_grupo": {
      "main": [
        [
          {
            "node": "encontrou_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_user": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "pesquisa_lead_nos_grupos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_lead_no_grupo1": {
      "main": [
        [
          {
            "node": "entrou_no_grupo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "entrou_no_grupo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo2": {
      "main": [
        [
          {
            "node": "update_entrou_no_grupo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_saiu_do_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo3": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_grupo": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_entrou_no_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_saiu_do_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_nos_grupos1": {
      "main": [
        [
          {
            "node": "encontrou_lead_no_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-18T19:45:01.376Z",
  "id": "hOQoMD7cFDdk898r",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TRA_SET_2025] - [CAPTAÇÃO] Sendflow copy",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "grupos_2",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "6bd504e0-0a22-4d3a-81a3-8b053e521ffc",
      "name": "pesquisa_grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "e673f4d7-6ee2-4424-9223-292b8308b22e",
      "name": "cria_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2688,
        928
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "id_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignId\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "nome_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignName\"] }}",
              "type": "string"
            },
            {
              "id": "f345ee1e-809f-49fa-b63c-50987289cc29",
              "name": "nome_grupo",
              "value": "={{ $json[\"body\"][\"data\"][\"groupName\"] }}",
              "type": "string"
            },
            {
              "id": "644349ad-b239-4d9f-823a-645498fcef5a",
              "name": "número_participante",
              "value": "={{ $json[\"body\"][\"data\"][\"number\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $json[\"body\"][\"data\"][\"createdAt\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "evento",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"event\"] }}",
              "type": "string"
            },
            {
              "id": "2b0020cf-fbd5-40a4-bd2a-c4966e981b9e",
              "name": "id",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"id\"] }}",
              "type": "string"
            },
            {
              "id": "8e4a3609-de2b-4836-ae66-8e4fc6fc1bab",
              "name": "evento1",
              "value": "[TRA_SET_2025] - [CAPTAÇÃO]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f025e6e8-9a87-4880-a335-89c7b8d90e70",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5eca515a-13ef-4def-a534-a9bd59664b56",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_lead_nos_grupos1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03c686a4-7693-4ff7-a8a8-362e67791a52",
      "name": "encontrou_lead_no_grupo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3088,
        784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4de9030-1401-42e7-9da3-780d36740824",
      "name": "entrou_no_grupo2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3248,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c41e3be-1c4a-442c-ba9a-906dbf723203",
      "name": "entrou_no_grupo3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3248,
        944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_grupo\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffb970e8-de70-4673-b230-c54cc25f2adf",
      "name": "encontrou_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1568,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fce2f9ec-1b98-4e21-ac14-bc59ee871dfd",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        848
      ]
    },
    {
      "parameters": {
        "content": "# CADASTRA CONTATO QUE ENTROU OU SAIU DOS GRUPOS NO BANCO DE DADOS",
        "height": 831,
        "width": 3118,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        432
      ],
      "typeVersion": 1,
      "id": "ea80e0f2-0daa-4e95-8141-10017fca7fba",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb182c1b-aedc-42c1-8721-22f7b7fb81b0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        928,
        832
      ],
      "id": "dea696ce-6861-4879-902f-6d10a03e6dbc",
      "name": "Webhook1",
      "webhookId": "bb182c1b-aedc-42c1-8721-22f7b7fb81b0"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "ba194502-3dd3-4ece-a96d-989a189c7b83",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        816
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "87aba698-f24c-4ec5-b342-2062397cdcec",
      "name": "update_entrou_no_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3472,
        464
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "c489195d-9773-49a6-8798-50b4d4d60bd0",
      "name": "update_saiu_do_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3488,
        656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contatos_grupos",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "keyName": "nome_grupo",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "23421323-2abf-4ccc-b008-1d8391d0c69a",
      "name": "pesquisa_lead_nos_grupos1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2896,
        784
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "27418fe7-5c0c-414b-bccb-1b119c0f9b88",
      "name": "insere_lead_na_tabela_leads_nos_grupos2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3504,
        832
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "90bd2531-1e3a-463a-8ed6-77f3c392bbc1",
      "name": "insere_lead_na_tabela_leads_nos_grupos3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3536,
        1056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "58c8859f-7669-4baa-972d-13c8623e8fca",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        544
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "8cfd5026-ee16-47ff-97fd-ba4c07983ce9",
      "name": "pesquisa_cadastro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3728,
        544
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "d3b7f770-ceee-4bac-a9fd-5f7d6bd0fc2e",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3712,
        864
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        1008
      ],
      "id": "630e9018-273a-4035-98e2-a09c8ad294de",
      "name": "Wait",
      "webhookId": "24278988-d2f6-467c-bb0e-eff91d9fb44a"
    },
    {
      "parameters": {
        "tableId": "grupos_2",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1776,
        928
      ],
      "id": "3aa2914a-d8a2-46b7-8a6d-356f58dfd85f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "374",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "sendtok": "B72A8131333C9C63332E95A712285EB85D354558A7",
            "x-forwarded-for": "137.131.172.56",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "075fd767e3c1",
            "x-real-ip": "137.131.172.56"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "QqKLnStNW8pAjPP8QMXk",
            "event": "group.updated.members.added",
            "data": {
              "campaignName": "[JUL25] Semana da Prática Tributária",
              "groupName": "⚖️ Semana da Prática Tributária #1",
              "groupJid": "120363421080809309@g.us",
              "groupId": "ZsLhnpqpToYWnlZxnh35",
              "campaignId": "GLPXdwAUrUqSXXTXyqII",
              "number": "5527998210071",
              "createdAt": "2025-06-23T14:07:31.833Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/jul25",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-18T19:45:01.376Z",
      "createdAt": "2025-08-18T19:45:01.376Z",
      "role": "workflow:owner",
      "workflowId": "hOQoMD7cFDdk898r",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T14:09:19.790Z",
  "versionId": "90510b2c-dc79-44af-aa7e-55fc6be0b345"
}