workflows/[TRA_SET_2025] - [CAPTAÇÃO] Sendflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "pesquisa_grupo": {
      "main": [
        [
          {
            "node": "encontrou_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_grupo": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_user": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "pesquisa_lead_nos_grupos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_lead_no_grupo1": {
      "main": [
        [
          {
            "node": "entrou_no_grupo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "entrou_no_grupo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo2": {
      "main": [
        [
          {
            "node": "update_entrou_no_grupo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_saiu_do_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo3": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_grupo": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_entrou_no_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_saiu_do_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_nos_grupos1": {
      "main": [
        [
          {
            "node": "encontrou_lead_no_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_cadastro": {
      "main": [
        []
      ]
    },
    "Edit Fields4": {
      "main": [
        []
      ]
    },
    "pesquisa_cadastro1": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-18T15:07:55.634Z",
  "id": "HmGegKqKGB2NKRl0",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TRA_SET_2025] - [CAPTAÇÃO] Sendflow",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "grupos",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "25de3d42-47c4-4ec7-9e0a-2263cfe092f1",
      "name": "pesquisa_grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        1360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "7c76240f-06c9-4feb-a20c-620988d6341e",
      "name": "cria_grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        1520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "605d9769-6882-4bc0-b8f9-82d7bd19de06",
      "name": "cria_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        1456
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "id_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignId\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "nome_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignName\"] }}",
              "type": "string"
            },
            {
              "id": "f345ee1e-809f-49fa-b63c-50987289cc29",
              "name": "nome_grupo",
              "value": "={{ $json[\"body\"][\"data\"][\"groupName\"] }}",
              "type": "string"
            },
            {
              "id": "644349ad-b239-4d9f-823a-645498fcef5a",
              "name": "número_participante",
              "value": "={{ $json[\"body\"][\"data\"][\"number\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $json[\"body\"][\"data\"][\"createdAt\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "evento",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"event\"] }}",
              "type": "string"
            },
            {
              "id": "2b0020cf-fbd5-40a4-bd2a-c4966e981b9e",
              "name": "id",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"id\"] }}",
              "type": "string"
            },
            {
              "id": "8e4a3609-de2b-4836-ae66-8e4fc6fc1bab",
              "name": "evento1",
              "value": "[SPT0725] - [CAPTAÇÃO]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f258760c-38b1-4d62-bd20-ed693d70473e",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4309ee98-277c-41ce-92fa-53723131218e",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1536,
        1344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_lead_nos_grupos1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58b25243-b48b-48ed-8014-f4fbf0ce2cf4",
      "name": "encontrou_lead_no_grupo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2160,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aed8df39-d188-4b27-91a5-bb84d69b850e",
      "name": "entrou_no_grupo2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2320,
        1104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b32efdb0-3b72-4a11-b892-2096ccfc6425",
      "name": "entrou_no_grupo3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2320,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_grupo\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "258eab63-9e2c-46c3-a043-798bedd7544c",
      "name": "encontrou_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        1360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5d78129e-6a3a-422f-b9b2-a4d1dee19ff1",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        1376
      ]
    },
    {
      "parameters": {
        "content": "# CADASTRA CONTATO QUE ENTROU OU SAIU DOS GRUPOS NO BANCO DE DADOS",
        "height": 1007,
        "width": 3854,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        832
      ],
      "typeVersion": 1,
      "id": "af356dfd-398f-4b23-99cc-8ae4895a7ce7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tra_set_2025_send",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        416,
        1360
      ],
      "id": "095f80da-40df-4ba3-9fc8-d12943e5d95d",
      "name": "Webhook1",
      "webhookId": "f2f7821e-c7ca-4c00-b25d-2fd951f1c622"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "8a299785-96e1-4004-82a2-49d7fc065b8b",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        1344
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "173eb3fe-221e-4a3f-9fb0-17c1da606250",
      "name": "update_entrou_no_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        992
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "eb51c744-e9b2-4ee6-91ff-cca283cabeff",
      "name": "update_saiu_do_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2560,
        1184
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contatos_grupos",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "keyName": "nome_grupo",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "73e65b3f-160b-43c2-8b68-00f03b3c4e5f",
      "name": "pesquisa_lead_nos_grupos1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "ad1cfbbd-dc1b-43ef-b516-3ad1e5a2a206",
      "name": "insere_lead_na_tabela_leads_nos_grupos2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        1360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "5de39836-df04-487e-9882-136525d038fa",
      "name": "insere_lead_na_tabela_leads_nos_grupos3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2608,
        1584
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e21b4885-a480-45a0-89df-2b4b71c5bcba",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "83e2e8fa-09f1-4604-8d26-0f65869dd836",
      "name": "pesquisa_cadastro",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3216,
        1072
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cadastros",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "fbd4dba5-0a41-4cff-bebb-5ba30c14876b",
      "name": "pesquisa_cadastro1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3200,
        1392
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "374",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "sendtok": "B72A8131333C9C63332E95A712285EB85D354558A7",
            "x-forwarded-for": "137.131.172.56",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "075fd767e3c1",
            "x-real-ip": "137.131.172.56"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "QqKLnStNW8pAjPP8QMXk",
            "event": "group.updated.members.added",
            "data": {
              "campaignName": "[JUL25] Semana da Prática Tributária",
              "groupName": "⚖️ Semana da Prática Tributária #1",
              "groupJid": "120363421080809309@g.us",
              "groupId": "ZsLhnpqpToYWnlZxnh35",
              "campaignId": "GLPXdwAUrUqSXXTXyqII",
              "number": "5527998210071",
              "createdAt": "2025-06-23T14:07:31.833Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/jul25",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-18T15:07:55.634Z",
      "createdAt": "2025-08-18T15:07:55.634Z",
      "role": "workflow:owner",
      "workflowId": "HmGegKqKGB2NKRl0",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-18T15:31:21.215Z",
  "versionId": "29190d11-f997-4104-9678-2f88424d023c"
}