workflows/IA SUPORTE - TESTE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "camposIniciais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais1": {
      "main": [
        [
          {
            "node": "Filtra dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateUser": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GERA_sessionid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GERA_sessionid": {
      "main": [
        [
          {
            "node": "CreateUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra dados": {
      "main": [
        [
          {
            "node": "getClient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getClient": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "espera evolution processar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add na Memória1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "espera evolution processar imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empilhaÁudio2": {
      "main": [
        [
          {
            "node": "Memória Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera evolution processar1": {
      "main": [
        [
          {
            "node": "transforma audio em binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforma audio em binario": {
      "main": [
        [
          {
            "node": "transcreve audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforma audio em binary": {
      "main": [
        [
          {
            "node": "transforma audio em binario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve audio": {
      "main": [
        [
          {
            "node": "empilhaÁudio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converte imagem1": {
      "main": [
        [
          {
            "node": "transcreve imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreve imagem1": {
      "main": [
        [
          {
            "node": "empilhaÁudio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera evolution processar imagem1": {
      "main": [
        [
          {
            "node": "Busca imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "empilhaÁudio3": {
      "main": [
        [
          {
            "node": "Memória Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca imagem1": {
      "main": [
        [
          {
            "node": "converte imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add na Memória1": {
      "main": [
        [
          {
            "node": "Memória Inicial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espere1": {
      "main": [
        [
          {
            "node": "Memória Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória Inicial1": {
      "main": [
        [
          {
            "node": "Espere1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória Final1": {
      "main": [
        [
          {
            "node": "Concatena Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatena Mensagens1": {
      "main": [
        [
          {
            "node": "Compara Memórias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Memórias1": {
      "main": [
        [
          {
            "node": "Limpar Memória2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Memória2": {
      "main": [
        [
          {
            "node": "UserMessage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messagess": {
      "main": [
        [
          {
            "node": "IA SUPORTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suporte": {
      "ai_languageModel": [
        [
          {
            "node": "IA SUPORTE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "UserMessage1": {
      "main": [
        [
          {
            "node": "messagess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "IA SUPORTE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Segmentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde texto1": {
      "main": [
        [
          {
            "node": "1,2s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1,2s1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentos1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Responde texto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA SUPORTE": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-19T00:24:33.368Z",
  "id": "DHTJ4PG9n4WtGRf6",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IA SUPORTE - TESTE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "msg-marcos",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        0
      ],
      "id": "05c3f32c-4afe-4d7d-95a0-9322adfc7efb",
      "name": "Webhook",
      "webhookId": "3a153255-24aa-457d-850e-3d5a0d9de9b8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379",
              "name": "meta.telefoneCliente",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}",
              "type": "string"
            },
            {
              "id": "a019046c-3b5a-4fd0-a497-de55cb2178ea",
              "name": "meta.telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5",
              "name": "meta.nomeCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "01238a36-6907-4aec-ab21-26345ed5fc96",
              "name": "whatsapp.evo.nomeInstancia",
              "value": "={{ $json.body.instance || null }}",
              "type": "string"
            },
            {
              "id": "81612acf-1b66-4c8e-82e4-ce8c77b31334",
              "name": "content.mensagem",
              "value": "={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}",
              "type": "string"
            },
            {
              "id": "cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7",
              "name": "content.tipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "2dfc64f4-b222-4ea7-b095-fdd96d9fcb95",
              "name": "content.idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "076ad2d4-b8ea-440f-9c02-f7e8417a984d",
              "name": "whatsapp.evo.apikey",
              "value": "={{ $json.body.apikey || null }}",
              "type": "string"
            },
            {
              "id": "0c237725-0428-4f1d-bddf-41bd289b3168",
              "name": "whatsapp.evo.server_url",
              "value": "={{ $json.body.server_url || null }}",
              "type": "string"
            },
            {
              "id": "255b9c45-7769-4d09-9c50-61dcdfb7c09d",
              "name": "app.debouncerTime",
              "value": "8",
              "type": "string"
            },
            {
              "id": "fc7c5c8f-b505-4a43-ae07-51eea58d6f80",
              "name": "linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e30bbf8c-d5da-4410-b875-8dfe4b301798",
              "name": "Digitando",
              "value": 2400,
              "type": "number"
            },
            {
              "id": "c4f557bd-72f1-4507-8d9d-c2a590eea2b8",
              "name": "content.quoted",
              "value": "={{ $json.body.data.message.conversation }}\n{{ $json.body.data.message.imageMessage.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5731eb5b-c44e-4f8c-9adf-013da6a757fd",
      "name": "camposIniciais1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2133b41a-94f0-435d-80ff-4078a41fb88d",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        128,
        0
      ],
      "id": "51bd0c4c-c666-4fda-827f-83f2b5440bc3",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const data = item.json;\n\n  if (data.meta?.telefoneCliente) {\n    data.meta.telefoneCliente = data.meta.telefoneCliente.replace('@s.whatsapp.net', '');\n  }\n\n  if (data.meta?.telefoneEmpresa) {\n    data.meta.telefoneEmpresa = data.meta.telefoneEmpresa.replace('@s.whatsapp.net', '');\n  }\n\n  return { json: data };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "b0412209-9b38-4ed6-951a-bf578d819fad",
      "name": "Filtra dados"
    },
    {
      "parameters": {
        "content": "## PASSO 1 - CRIA USUÁRIO NO BANCO DE DADOS SUPABASE\n\n### - Verifica se já existe um cliente cadastrado\n\n### - Se sim, prossegue o fluxo\n\n### - Se não, cria um cliente e um id do chat e prossegue o fluxo",
        "height": 602,
        "width": 1791,
        "color": 3
      },
      "id": "4722635c-ee58-40c8-949f-8ab79e1f53d9",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -288
      ]
    },
    {
      "parameters": {
        "tableId": "atendimento_suporte",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('camposIniciais1').item.json.meta.nomeCliente }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Filtra dados\"].json[\"meta\"][\"telefoneCliente\"] }}"
            },
            {
              "fieldId": "idmensagem",
              "fieldValue": "={{ $('camposIniciais1').item.json.content.idMensagem }}"
            },
            {
              "fieldId": "sessionid",
              "fieldValue": "={{ $json.data }}"
            }
          ]
        }
      },
      "id": "3d55e44c-b7a9-4272-8964-0c04cd9ab1cf",
      "name": "CreateUser",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e77cc7c-48f4-4cbe-94e7-6d211db67002",
              "leftValue": "={{ $('getClient').item.json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e733815-384d-4052-a1a8-ba24b6b2c3ed",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1056,
        0
      ]
    },
    {
      "parameters": {
        "action": "generate"
      },
      "id": "0fdcf79b-dce8-4afd-9e06-381b0a42ce13",
      "name": "GERA_sessionid",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1232,
        112
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "atendimento_suporte",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $node[\"Filtra dados\"].json[\"meta\"][\"telefoneCliente\"] }}"
            }
          ]
        }
      },
      "id": "a39461fa-9d40-4bd1-a037-c80e2f067bfe",
      "name": "getClient",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cb14635-2673-408e-86db-ce9e0373674b",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60065893-74f7-4b64-bc1a-d891202efa78",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "b680b294-ae96-4e5a-9847-d5d72d45d89d",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1808,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais1').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais1').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "5b7e7f14-42f5-48bd-88f1-26b08e71f4ce",
      "name": "empilhaÁudio2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2784,
        -208
      ],
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## PASSO 2 - DEFINE O TIPO DE MENSAGEM E ORGANIZA PARA O AGENTE",
        "height": 714,
        "width": 1767,
        "color": 3
      },
      "id": "4309c310-6029-45d4-bece-bd797ab6f67b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -320
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "88321aa7-afa7-423a-a7e9-d6a15f1a76ce",
      "name": "espera evolution processar1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        -208
      ],
      "webhookId": "8ae10f5c-5f7c-4288-b75d-e3d415e5798c"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $json.mediaType }}",
          "mimeType": "=audio/ogg"
        }
      },
      "id": "7cbbebf2-88ba-439e-9aa7-9dad552d358a",
      "name": "transforma audio em binario",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2400,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais1').item.json.whatsapp.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"camposIniciais1\"].json[\"whatsapp\"][\"evo\"][\"nomeInstancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"whatsapp\"][\"evo\"][\"apikey\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n        }\n    },\n    \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "d2c39f66-70ad-4731-9c75-0bb9f128f0c0",
      "name": "transforma audio em binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2208,
        -208
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2608,
        -208
      ],
      "id": "e85de035-cc82-4259-bd74-998cc0a3ff72",
      "name": "transcreve audio",
      "credentials": {
        "openAiApi": {
          "id": "FWqn0IMXX1HmDrEh",
          "name": "IA SUPORTE"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "5a192656-7abb-4c1f-9afb-449060a76a70",
      "name": "converte imagem1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2416,
        160
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=<image_analyzer>\n  <identity>\n    <name>analisador visual</name>\n    <persona>analista técnico e detalhista</persona>\n    <style>objetivo, claro e direto</style>\n  </identity>\n  \n  <behaviors>\n    <analysis_flow>\n      <step1>Pedir para a pessoa explicar melhor oque tem na imagem</step1>\n      <step1>identificar elementos principais da imagem</step1>\n      <step2>descrever contexto e ambiente</step2>\n      <step3>notar detalhes relevantes</step3>\n      <step4>se for conteúdo administrativo, acionar tool \"searchinfo\"</step6>\n      <step7>fornecer análise completa e precisa</step7>\n    </analysis_flow>\n    \n    <donts>\n      <rule>nunca inventar elementos que não estão na imagem</rule>\n      <rule>nunca fazer suposições além do visível</rule>\n      <rule>nunca usar termos técnicos desnecessários</rule>\n      <rule>nunca ignorar elementos importantes</rule>\n      <rule>nunca responder sem consultar a ferramenta adequada (\"searchinfo\")</rule>\n    </donts>\n    \n    <critical_rule>\n      ⚠️ sempre identificar corretamente o contexto da imagem e acionar a ferramenta apropriada (\"searchinfo\") antes de enviar qualquer resposta\n    </critical_rule>\n    \n    <response_format>\n      <tone>profissional mas acessível</tone>\n      <structure>organizada e hierárquica</structure>\n      <detail_level>completo mas conciso</detail_level>\n    </response_format>\n  </behaviors>\n  \n  <output_rules>\n    <mandatory>identificar tipo de conteúdo → acionar tool adequada → analisar imagem → resposta contextualizada</mandatory>\n    <format>descrição objetiva com base no conhecimento das ferramentas \"searchinfo\"</format>\n  </output_rules>\n</image_analyzer>\n",
        "inputType": "base64",
        "options": {}
      },
      "id": "c8492e29-5edc-443e-b9b6-b08a0412c776",
      "name": "transcreve imagem1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2608,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "FWqn0IMXX1HmDrEh",
          "name": "IA SUPORTE"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "9a011120-9ef7-46cc-9b75-206e0d4003bd",
      "name": "espera evolution processar imagem1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        160
      ],
      "webhookId": "276b709f-7d4b-4233-9e69-254f25485c76"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('camposIniciais1').item.json.meta.telefoneCliente.toString() }}",
        "messageData": "={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais1').item.json.content.idMensagem\n}) }}",
        "tail": true
      },
      "id": "7828288c-b562-4dcc-ac57-591cd5e41237",
      "name": "empilhaÁudio3",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2800,
        160
      ],
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais1').item.json.whatsapp.evo.server_url }}/chat/getBase64FromMediaMessage/{{ $item(\"0\").$node[\"camposIniciais1\"].json[\"whatsapp\"][\"evo\"][\"nomeInstancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"whatsapp\"][\"evo\"][\"apikey\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"id\"] }}\"\n        }\n    },\n    \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "d888347e-5eaa-4328-9e27-9cb7f393fa1d",
      "name": "Busca imagem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2208,
        160
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "messageData": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"content\"][\"mensagem\"] }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2048,
        -16
      ],
      "id": "7d352d59-6b80-4642-8514-9e5e3a9fabe5",
      "name": "Add na Memória1",
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        -16
      ],
      "id": "6bcd1012-da82-42ae-be7e-a244542237a9",
      "name": "Espere1",
      "webhookId": "5efbac78-7c17-44b9-92cc-c3078c79f8d8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Memória Inicial",
        "key": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2208,
        -16
      ],
      "id": "5e1c4ec0-18e2-4146-99bc-56fc720ed7b1",
      "name": "Memória Inicial1",
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Memória Final",
        "key": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"meta\"][\"telefoneCliente\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2608,
        -16
      ],
      "id": "8ae52886-9f3a-406b-bbb6-f81ffebc5a07",
      "name": "Memória Final1",
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acesse os arrays das variáveis\nconst memoriaInicialArray = $('Memória Inicial1').all()[0].json['Memória Inicial'];\nconst memoriaFinalArray = $json['Memória Final'];\n\n// Verifique se as variáveis são arrays e junte os elementos em strings\nconst memoriaInicial = Array.isArray(memoriaInicialArray) ? memoriaInicialArray.join(' ') : '';\nconst memoriaFinal = Array.isArray(memoriaFinalArray) ? memoriaFinalArray.join(' ') : '';\n\n// Retorne as variáveis resultantes\nreturn {\n  memoriaInicial,\n  memoriaFinal\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -16
      ],
      "id": "7a7edc62-da42-4b48-94f5-59ca5366029e",
      "name": "Concatena Mensagens1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbe500bb-8a66-4f0c-93df-9631e3bdabfc",
              "leftValue": "={{ $('Concatena Mensagens1').all()[0].json.memoriaInicial }}",
              "rightValue": "={{ $('Concatena Mensagens1').all()[0].json.memoriaFinal }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2976,
        -16
      ],
      "id": "b378350b-0bb3-4646-b5d3-02b08f770703",
      "name": "Compara Memórias1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $item(\"0\").$node[\"camposIniciais1\"].json[\"meta\"][\"telefoneCliente\"] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3152,
        -16
      ],
      "id": "f6f42bb9-15d6-4883-ac8f-fd22459a0991",
      "name": "Limpar Memória2",
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e16067-bcdb-4bda-9c22-e1869c550af6",
              "name": "userMessage",
              "value": "={{ $('Compara Memórias1').all()[0].json.memoriaFinal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        -16
      ],
      "id": "9be79dc7-f37d-46a5-aa74-f11e917200b5",
      "name": "UserMessage1"
    },
    {
      "parameters": {
        "content": "## PASSO 3 - AGENTE IA DE SUPORTE E SISTEMA RAG",
        "height": 722,
        "width": 703,
        "color": 7
      },
      "id": "dba30306-ab6d-4770-8f86-3411c0a57c38",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3568,
        -320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7158aa0-84e0-44b1-8629-bf23fb4c0766",
              "name": "=messages",
              "value": "={{ (() => {\n  let messages = '';\n  let quoted = '';\n  let empilha = '';\n  let transcricaoImagem = '';\n  \n  // Primeira parte: join de mensagens\n  try {\n    messages = $json.message.map(buffer => JSON.parse(buffer).message).join('\\n');\n  } catch (e) {\n    messages = '';\n  }\n  \n  // Segunda parte: conteúdo citado (quoted)\n  try {\n    quoted = $('camposIniciais1').first().json.content?.quoted || '';\n  } catch (e) {\n    quoted = '';\n  }\n  \n  // Terceira parte: verificar empilhaÁudio se foi executado\n  try {\n    empilha = $node[\"empilhaÁudio2\"]?.json?.text || '';\n  } catch (e) {\n    empilha = '';\n  }\n  \n  // Quarta parte: buscar transcrição da imagem\n  try {\n    transcricaoImagem = $('transcreve imagem1').first().json.content || '';\n  } catch (e) {\n    transcricaoImagem = '';\n  }\n  \n  // Juntar tudo e remover links do WhatsApp do resultado final\n  let resultado = [messages, quoted, empilha, transcricaoImagem].filter(Boolean).join('\\n\\n');\n  \n  // Remove qualquer link do WhatsApp do resultado final\n  resultado = resultado.replace(/https:\\/\\/mmg\\.whatsapp\\.net\\/[^\\s\\n]+/g, '').trim();\n  \n  // Remove múltiplas quebras de linha consecutivas que podem ter ficado após remover o link\n  resultado = resultado.replace(/\\n\\n+/g, '\\n\\n').trim();\n  \n  return resultado;\n})() }}",
              "type": "string"
            },
            {
              "id": "ef9e44ec-6f77-43c0-868f-7b43bc3007a4",
              "name": "sessionid",
              "value": "={{ $('getClient').first().json.sessionid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13308858-d057-4531-836b-2471c7812dae",
      "name": "messagess",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3600,
        -16
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('messagess').item.json.sessionid }}",
        "contextWindowLength": 20
      },
      "id": "28764549-e690-46b4-ad41-c93da7debb93",
      "name": "Memoria",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        3888,
        192
      ],
      "credentials": {
        "redis": {
          "id": "XX0QW7TmfPNnDMTW",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('messagess').all()[0].json.messages }}",
        "options": {
          "systemMessage": "="
        }
      },
      "id": "b92cd0ca-7e30-4d31-9dde-c850888c4b46",
      "name": "IA SUPORTE",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3792,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69d04271-232e-4822-8882-685c7bff6461",
      "name": "Suporte",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3728,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "DZHDRYAjrZaPSLWy",
          "name": "teste"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do WhatsApp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- _itálico_ (extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, deve ser exibido limpo e direto, **sem texto descritivo ou âncoras**, usando somente o domínio puro como: `https://link.com.br/exemplo`\n\n❗ Nunca use markdown no estilo `[texto](link)` ou `Texto (link)`, apenas o link puro.\n\nSe detectar um link com o padrão `www`, corrija automaticamente tirando o `www`, pois o domínio com www não funciona."
            }
          ]
        }
      },
      "id": "59e7f6a1-ab58-47a1-a54c-e8aab7555dd5",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4416,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais1').first().json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais1').first().json.whatsapp.evo.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('camposIniciais1').first().json.whatsapp.evo.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('camposIniciais1').first().json.meta.telefoneCliente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ $('camposIniciais1').first().json.linkPreview }}"
            },
            {
              "name": "delay",
              "value": "={{ $('camposIniciais1').first().json.Digitando }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "02ed6272-9c92-4783-8996-4881b7e86808",
      "name": "Responde texto1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5328,
        16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "e31d411c-cd58-4b8a-bd28-a0a427dd5d81",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4560,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f74e4637-f4dd-425e-918f-41bce9ae4029",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4912,
        -48
      ]
    },
    {
      "parameters": {
        "amount": 1.2
      },
      "id": "81123234-3bbe-4a07-ba61-393fd9229fed",
      "name": "1,2s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5520,
        16
      ],
      "webhookId": "e5987401-8b77-4a84-8693-25fd8898cd94"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "3b32532b-757e-4424-85db-714d6fe242f0",
      "name": "Segmentos1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4720,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6820ecbf-6c05-46d8-927d-1bd8b69ec845",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4400,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "FWqn0IMXX1HmDrEh",
          "name": "IA SUPORTE"
        }
      }
    },
    {
      "parameters": {
        "content": "## PASSO 4 - FILTRA AS MENSAGENS E FAZ O ENVIO",
        "height": 718,
        "width": 1351,
        "color": 3
      },
      "id": "38fbfb3c-8b9d-454f-a88b-c1f2c4ac7d0f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4368,
        -336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ed86f5e-fe26-45b2-ad31-3d42e43a5b82",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5120,
        32
      ],
      "id": "ceb8ead8-85e4-4388-9867-3b7379514070",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5104,
        -192
      ],
      "id": "a2f8283a-39a9-4a12-9209-713a0a20de45",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "axios/1.12.2",
            "content-length": "1416",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "55c61d0068b6",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "testemarcos",
            "data": {
              "key": {
                "remoteJid": "5515991266755@s.whatsapp.net",
                "remoteJidAlt": "45853322559582@lid",
                "fromMe": false,
                "id": "3BAA3E589E76CB180A4D",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Marcos - AuthLike",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 122,
                      "1": 38,
                      "2": 156,
                      "3": 33,
                      "4": 225,
                      "5": 28,
                      "6": 228,
                      "7": 28,
                      "8": 202,
                      "9": 32
                    },
                    "senderTimestamp": {
                      "low": 1764873027,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 235,
                      "1": 169,
                      "2": 231,
                      "3": 58,
                      "4": 25,
                      "5": 175,
                      "6": 0,
                      "7": 134,
                      "8": 27,
                      "9": 222
                    },
                    "recipientTimestamp": {
                      "low": 1766070014,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 87,
                    "1": 252,
                    "2": 52,
                    "3": 138,
                    "4": 103,
                    "5": 66,
                    "6": 55,
                    "7": 162,
                    "8": 37,
                    "9": 186,
                    "10": 30,
                    "11": 178,
                    "12": 64,
                    "13": 224,
                    "14": 250,
                    "15": 186,
                    "16": 168,
                    "17": 174,
                    "18": 82,
                    "19": 175,
                    "20": 118,
                    "21": 170,
                    "22": 119,
                    "23": 172,
                    "24": 2,
                    "25": 184,
                    "26": 206,
                    "27": 62,
                    "28": 33,
                    "29": 33,
                    "30": 133,
                    "31": 55
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1766103995,
              "instanceId": "9f5f9ded-e93e-4b17-b48f-cdacf8a54321",
              "source": "unknown"
            },
            "destination": "https://webhook.fabianatome.com.br/webhook/msg-marcos",
            "date_time": "2025-12-18T21:26:36.023Z",
            "sender": "5527998210071@s.whatsapp.net",
            "server_url": "https://evolution.fabianatome.com.br",
            "apikey": "4CD6960BD8E2-4899-A24C-BC73EDA99976"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/msg-marcos",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-19T00:24:33.368Z",
      "createdAt": "2025-12-19T00:24:33.368Z",
      "role": "workflow:owner",
      "workflowId": "DHTJ4PG9n4WtGRf6",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-19T03:14:50.957Z",
  "versionId": "64470229-4176-427e-953e-167aa81f4dec"
}