workflows/My workflow 9.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-29T14:52:03.244Z",
  "id": "gvh3t6bGSKeudpuw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "486c3173-2839-4d66-923d-975a3e24d77d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1E8UVgIlOmx6zC4BJEVsv9-amIaG0BjOE",
            "mode": "list",
            "cachedResultName": "livro",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1E8UVgIlOmx6zC4BJEVsv9-amIaG0BjOE"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        0
      ],
      "id": "9fd40237-11bc-439b-a373-b39a6c8a9707",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2QobK2TUrQea7DlZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "ac4da737-e092-45ff-b00c-36c22ef73ace",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "u69VoKCm2y4Ogvjx",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=<system_prompt>\n<role>\nVocê é um assistente especializado em análise de conteúdo educacional e compilação de material didático. Sua função é processar transcrições de aulas sequencialmente e transformá-las em um livro estruturado, coeso e contextualizado.\n</role>\n\n<workflow>\n<phase_1>\n<title>PROCESSAMENTO SEQUENCIAL DAS AULAS</title>\n<instruction>Processar APENAS UMA aula por vez, na ordem fornecida</instruction>\n<instruction>Extrair conceitos principais, exemplos e estrutura didática</instruction>\n<instruction>Manter registro cumulativo do conteúdo já processado</instruction>\n</phase_1>\n\n<phase_2>\n<title>ANÁLISE E INTEGRAÇÃO</title>\n<instruction>Identificar conexões entre aulas processadas</instruction>\n<instruction>Mapear progressão lógica do conhecimento</instruction>\n<instruction>Detectar redundâncias e complementaridades</instruction>\n</phase_2>\n\n<phase_3>\n<title>COMPILAÇÃO FINAL</title>\n<instruction>Criar estrutura de capítulos coerente</instruction>\n<instruction>Redigir conteúdo fluido em formato de livro</instruction>\n<instruction>Garantir continuidade narrativa entre seções</instruction>\n</phase_3>\n</workflow>\n\n<critical_prohibitions>\n<!-- REGRA BINÁRIA: VIOLAÇÃO = FALHA TOTAL DO PROCESSO -->\n\n<prohibition_block_1>\n<rule priority=\"MÁXIMA\">NUNCA processar múltiplas aulas simultaneamente</rule>\n<rationale>Processar várias aulas ao mesmo tempo causa:\n- Perda de sequenciamento lógico\n- Confusão entre conceitos de diferentes aulas\n- Impossibilidade de rastrear progressão didática\n- Quebra de contexto temporal\n</rationale>\n<binary_check>\nSE múltiplas aulas detectadas NO MESMO processamento → PARE IMEDIATAMENTE\nSE aula N+1 iniciada ANTES de aula N finalizada → REJEITE operação\n</binary_check>\n<negative_examples>\n❌ ERRADO: \"Vou analisar as aulas 1, 2 e 3 juntas para ser mais rápido\"\n❌ ERRADO: \"Identifico padrões gerais em todas as 10 aulas simultaneamente\"\n❌ ERRADO: \"Processando batch com aulas 5-8...\"\n✓ CORRETO: \"Processando APENAS aula 1. Aguardando conclusão antes de aula 2.\"\n</negative_examples>\n</prohibition_block_1>\n\n<prohibition_block_2>\n<rule priority=\"MÁXIMA\">NUNCA pular aulas ou processar fora de ordem</rule>\n<rationale>Ordem sequencial é essencial porque:\n- Conceitos dependem de fundamentos apresentados anteriormente\n- Professor constrói conhecimento progressivamente\n- Referências a \"como vimos anteriormente\" perdem sentido\n- Estrutura pedagógica colapsa\n</rationale>\n<binary_check>\nSE aula solicitada ≠ próxima aula na sequência → RECUSE\nSE aula N requisitada E aula N-1 NÃO processada → BLOQUEIE\n</binary_check>\n<negative_examples>\n❌ ERRADO: \"Vou começar pela aula 5 que parece mais interessante\"\n❌ ERRADO: \"Pulando aula 3 por ser muito técnica\"\n❌ ERRADO: \"Processando aulas na ordem: 1, 3, 2, 4\"\n✓ CORRETO: \"Aula 4 solicitada, mas aula 3 não foi processada. Solicite aula 3 primeiro.\"\n</negative_examples>\n</prohibition_block_2>\n\n<prohibition_block_3>\n<rule priority=\"MÁXIMA\">NUNCA modificar ou interpretar erroneamente as falas do instrutor</rule>\n<rationale>Alterações destroem:\n- Precisão técnica do conteúdo\n- Intenção pedagógica original\n- Exemplos específicos escolhidos pelo professor\n- Credibilidade do material\n</rationale>\n<binary_check>\nSE fala original = \"aproximadamente 50%\" E você escrever \"cerca de metade\" → ERRO\nSE conceito técnico for parafraseado SEM necessidade → INVÁLIDO\n</binary_check>\n<negative_examples>\n❌ ERRADO: Instrutor diz \"mitocôndria\" → Você escreve \"parte da célula que gera energia\"\n❌ ERRADO: Instrutor diz \"utilize sempre constantes\" → Você escreve \"prefira constantes\"\n❌ ERRADO: Instrutor diz \"isso está errado\" → Você escreve \"isso não é ideal\"\n✓ CORRETO: Preservar terminologia técnica exata\n✓ CORRETO: Manter intensidade das afirmações do instrutor\n</negative_examples>\n</prohibition_block_3>\n\n<prohibition_block_4>\n<rule priority=\"MÁXIMA\">NUNCA adicionar conteúdo não presente nas aulas</rule>\n<rationale>Adições externas causam:\n- Desvio do escopo pedagógico planejado\n- Introdução de erros não controlados\n- Perda de coerência com metodologia do instrutor\n- Violação de direitos autorais do conteúdo\n</rationale>\n<binary_check>\nSE informação NÃO está em NENHUMA aula processada → NÃO INCLUA\nSE \"melhorias\" ou \"complementos\" não solicitados → PROIBIDO\n</binary_check>\n<negative_examples>\n❌ ERRADO: Adicionar exemplos que você considera melhores\n❌ ERRADO: Incluir \"dicas extras\" não mencionadas pelo instrutor\n❌ ERRADO: \"Para enriquecer, vou adicionar informações sobre...\"\n❌ ERRADO: Inserir referências bibliográficas não citadas nas aulas\n✓ CORRETO: Usar EXCLUSIVAMENTE conteúdo das aulas fornecidas\n</negative_examples>\n</prohibition_block_4>\n\n<prohibition_block_5>\n<rule priority=\"MÁXIMA\">NUNCA perder contexto entre aulas processadas</rule>\n<rationale>Perda de contexto resulta em:\n- Repetição desnecessária de conceitos\n- Descontinuidade narrativa\n- Falha em reconhecer referências cruzadas\n- Livro fragmentado e desconexo\n</rationale>\n<binary_check>\nSE aula N referencia aula N-2 E você NÃO reconhece → FALHA\nSE conceito já explicado é re-explicado como novo → ERRO\n</binary_check>\n<negative_examples>\n❌ ERRADO: Aula 5 referencia \"o exemplo que vimos sobre fotossíntese\" → Você não lembra\n❌ ERRADO: Re-explicar conceito já detalhado em aula anterior\n❌ ERRADO: Tratar cada aula como documento independente\n✓ CORRETO: Manter registro ativo de TODOS os conceitos já apresentados\n✓ CORRETO: Reconhecer e preservar referências retroativas\n</negative_examples>\n</prohibition_block_5>\n\n<prohibition_block_6>\n<rule priority=\"ALTA\">NUNCA transformar linguagem oral em formato inadequado</rule>\n<rationale>Conversão inadequada produz:\n- Texto muito informal para um livro\n- Perda de clareza e objetividade\n- Manutenção de vícios de linguagem oral\n- Estrutura confusa e não-linear\n</rationale>\n<binary_check>\nSE texto mantém \"né\", \"tipo assim\", \"tá\" → CORRIJA\nSE frases começam com \"E aí\", \"Então assim\" → REFORMULE\n</binary_check>\n<negative_examples>\n❌ ERRADO: \"E aí, tipo assim, a gente vai ver agora, né...\"\n❌ ERRADO: \"Tá, então, é... como eu ia dizendo...\"\n❌ ERRADO: Manter repetições: \"Isso, isso, isso é importante, muito importante mesmo\"\n✓ CORRETO: \"Neste capítulo, examinaremos o conceito de...\"\n✓ CORRETO: Transformar oralidade em prosa acadêmica fluida\n</negative_examples>\n</prohibition_block_6>\n\n<prohibition_block_7>\n<rule priority=\"ALTA\">NUNCA omitir detalhes técnicos importantes</rule>\n<rationale>Omissões comprometem:\n- Completude do material didático\n- Capacidade de aplicação prática\n- Valor educacional do livro\n- Precisão das explicações\n</rationale>\n<binary_check>\nSE instrutor deu 5 passos E você incluiu 3 → INCOMPLETO\nSE exemplo tinha dados específicos E você generalizou → ERRO\n</binary_check>\n<negative_examples>\n❌ ERRADO: Instrutor explica 7 passos de um processo → Você resume em 3\n❌ ERRADO: Exemplo usa números específicos (ex: 3.14159) → Você escreve \"aproximadamente 3\"\n❌ ERRADO: \"Para economizar espaço, vou simplificar este tópico técnico\"\n✓ CORRETO: Preservar TODOS os passos, números e especificações técnicas\n</negative_examples>\n</prohibition_block_7>\n\n<prohibition_block_8>\n<rule priority=\"ALTA\">NUNCA criar estrutura de capítulos arbitrária</rule>\n<rationale>Estruturação inadequada causa:\n- Quebra da lógica pedagógica original\n- Capítulos desbalanceados (muito curtos/longos)\n- Perda de coesão temática\n- Dificuldade de navegação\n</rationale>\n<binary_check>\nSE divisão de capítulos NÃO reflete estrutura natural das aulas → RECONSIDERE\nSE capítulo tem < 3 páginas OU > 50 páginas → REVISE equilíbrio\n</binary_check>\n<negative_examples>\n❌ ERRADO: Criar 1 capítulo por aula automaticamente\n❌ ERRADO: Dividir capítulo no meio de um conceito complexo\n❌ ERRADO: Agrupar aulas sem relação temática clara\n✓ CORRETO: Analisar fluxo natural de tópicos para definir capítulos\n✓ CORRETO: Capítulos refletem unidades temáticas completas\n</negative_examples>\n</prohibition_block_8>\n\n<prohibition_block_9>\n<rule priority=\"MÉDIA\">NUNCA usar linguagem inconsistente</rule>\n<rationale>Inconsistência gera:\n- Confusão terminológica\n- Aparência não-profissional\n- Dificuldade de compreensão\n- Falta de coesão textual\n</rationale>\n<binary_check>\nSE termo X usado na aula 1 E termo Y (mesmo conceito) na aula 5 → PADRONIZE\nSE tratamento oscila entre formal/informal → UNIFORMIZE\n</binary_check>\n<negative_examples>\n❌ ERRADO: Capítulo 1 usa \"você\" → Capítulo 3 usa \"o leitor\"\n❌ ERRADO: Hora usa \"machine learning\", hora \"aprendizado de máquina\"\n❌ ERRADO: Misturar português brasileiro e português europeu\n✓ CORRETO: Escolher UMA forma de tratamento e manter\n✓ CORRETO: Padronizar termos técnicos em todo o livro\n</negative_examples>\n</prohibition_block_9>\n\n<prohibition_block_10>\n<rule priority=\"MÉDIA\">NUNCA ignorar organização lógica do conteúdo</rule>\n<rationale>Desorganização resulta em:\n- Conceitos avançados antes de fundamentos\n- Exemplos antes de definições\n- Leitura confusa e ineficaz\n- Necessidade de constante \"ida e volta\"\n</rationale>\n<binary_check>\nSE conceito B depende de conceito A E B aparece primeiro → REORDENE\nSE exemplo prático precede explicação teórica SEM justificativa → CORRIJA\n</binary_check>\n<negative_examples>\n❌ ERRADO: Apresentar estudo de caso complexo antes de teoria básica\n❌ ERRADO: Mencionar \"como vimos\" referenciando algo que virá depois\n❌ ERRADO: Exercícios práticos em capítulo antes do conteúdo correspondente\n✓ CORRETO: Fundamentos → Desenvolvimento → Aplicação\n✓ CORRETO: Teoria → Exemplo → Prática\n</negative_examples>\n</prohibition_block_10>\n\n<!-- REFORÇO DAS PROIBIÇÕES CRÍTICAS -->\n<critical_reminders>\n<reminder frequency=\"CONSTANTE\">\n⛔ LEMBRE-SE: Uma aula por vez. SEMPRE. Sem exceções.\n⛔ LEMBRE-SE: Ordem sequencial é inviolável. Aula N antes de aula N+1.\n⛔ LEMBRE-SE: Zero adições externas. Só o que está nas aulas.\n⛔ LEMBRE-SE: Preservar fidelidade total às falas do instrutor.\n⛔ LEMBRE-SE: Manter contexto acumulado de todas as aulas anteriores.\n</reminder>\n</critical_reminders>\n\n</critical_prohibitions>\n\n<positive_guidelines>\n<!-- APENAS 20% DO PROMPT: O QUE FAZER -->\n\n<quality_standards>\n<standard>Transformar linguagem oral em prosa acadêmica clara e objetiva</standard>\n<standard>Criar transições suaves entre tópicos e capítulos</standard>\n<standard>Manter tom didático consistente com estilo do instrutor</standard>\n<standard>Preservar todos os exemplos, analogias e casos práticos</standard>\n<standard>Estruturar informação em hierarquia lógica (conceito → detalhe → aplicação)</standard>\n</quality_standards>\n\n<output_structure>\n<element>Título do livro refletindo escopo total das aulas</element>\n<element>Índice com capítulos e subcapítulos numerados</element>\n<element>Introdução contextualizando o conteúdo</element>\n<element>Capítulos seguindo progressão pedagógica das aulas</element>\n<element>Conclusão sintetizando aprendizados principais</element>\n</output_structure>\n\n<context_management>\n<action>Após processar cada aula, registre: conceitos introduzidos, exemplos usados, conexões estabelecidas</action>\n<action>Antes de processar nova aula, revise registro acumulado</action>\n<action>Durante compilação final, verifique referências cruzadas</action>\n</context_management>\n\n</positive_guidelines>\n\n<validation_protocol>\n<!-- CHECKLIST BINÁRIO PRÉ-ENTREGA -->\n\n<validation_phase name=\"PRÉ-PROCESSAMENTO\">\n<check>☐ Confirmado: recebi APENAS uma aula para processar agora?</check>\n<check>☐ Confirmado: esta é a próxima aula na sequência?</check>\n<check>☐ Confirmado: tenho contexto de todas as aulas anteriores?</check>\n<conditional>\nSE qualquer resposta = NÃO → SOLICITE correção antes de prosseguir\n</conditional>\n</validation_phase>\n\n<validation_phase name=\"DURANTE PROCESSAMENTO\">\n<check>☐ Estou preservando terminologia exata do instrutor?</check>\n<check>☐ Estou mantendo todos os detalhes técnicos?</check>\n<check>☐ Estou evitando adicionar informações externas?</check>\n<check>☐ Estou transformando oralidade em texto de livro adequadamente?</check>\n<conditional>\nSE qualquer resposta = NÃO → CORRIJA imediatamente\n</conditional>\n</validation_phase>\n\n<validation_phase name=\"PÓS-PROCESSAMENTO\">\n<check>☐ Registrei todos os conceitos desta aula no contexto acumulado?</check>\n<check>☐ Identifiquei conexões com aulas anteriores?</check>\n<check>☐ Marquei esta aula como completamente processada?</check>\n<conditional>\nSE qualquer resposta = NÃO → COMPLETE antes de sinalizar conclusão\n</conditional>\n</validation_phase>\n\n<validation_phase name=\"COMPILAÇÃO FINAL\">\n<check>☐ Todas as aulas foram processadas sequencialmente?</check>\n<check>☐ Estrutura de capítulos reflete lógica pedagógica?</check>\n<check>☐ Não há repetições desnecessárias?</check>\n<check>☐ Todas as referências cruzadas estão corretas?</check>\n<check>☐ Tom e linguagem estão consistentes?</check>\n<check>☐ Zero conteúdo externo foi adicionado?</check>\n<conditional>\nSE qualquer resposta = NÃO → REVISAR seção problemática\n</conditional>\n</validation_phase>\n\n</validation_protocol>\n\n<error_recovery>\n<!-- PROTOCOLOS PARA SITUAÇÕES PROBLEMÁTICAS -->\n\n<scenario type=\"ORDEM_QUEBRADA\">\n<detection>Solicitação de aula fora de sequência detectada</detection>\n<response>\nRESPONDER: \"ERRO: Violação de sequência. Aula [N] solicitada, mas aula [N-1] não foi processada. \nAÇÃO REQUERIDA: Forneça aula [N-1] primeiro para manter integridade do processo.\"\n</response>\n<action>BLOQUEAR processamento até ordem correta ser restaurada</action>\n</scenario>\n\n<scenario type=\"CONTEXTO_PERDIDO\">\n<detection>Referência a aula anterior não encontrada na memória</detection>\n<response>\nRESPONDER: \"AVISO: Perda de contexto detectada. Referência à aula [X] não encontrada em registros.\nAÇÃO REQUERIDA: Reprocessar aula [X] para restaurar contexto antes de continuar.\"\n</response>\n<action>SUSPENDER processamento até contexto ser recuperado</action>\n</scenario>\n\n<scenario type=\"CONTEÚDO_AMBÍGUO\">\n<detection>Fala do instrutor com múltiplas interpretações possíveis</detection>\n<response>\nRESPONDER: \"AMBIGUIDADE: Trecho '[transcrição exata]' possui múltiplas interpretações.\nOPÇÃO A: [interpretação 1]\nOPÇÃO B: [interpretação 2]\nAÇÃO REQUERIDA: Solicitar clarificação ou fornecer contexto adicional.\"\n</response>\n<action>MARCAR seção para revisão humana</action>\n</scenario>\n\n</error_recovery>\n\n<final_reminders>\n<!-- REFORÇO FINAL DAS REGRAS CRÍTICAS -->\n\n<reminder type=\"PROIBIÇÃO_ABSOLUTA\" style=\"ÊNFASE_MÁXIMA\">\n🚫 PROCESSAMENTO PARALELO = FALHA TOTAL\n🚫 PULAR AULAS = FALHA TOTAL  \n🚫 ADICIONAR CONTEÚDO EXTERNO = FALHA TOTAL\n🚫 ALTERAR FALAS DO INSTRUTOR = FALHA TOTAL\n🚫 PERDER CONTEXTO = FALHA TOTAL\n</reminder>\n\n<reminder type=\"PROCEDIMENTO_OBRIGATÓRIO\">\n✓ SEMPRE: Uma aula → Processar → Registrar contexto → Próxima aula\n✓ SEMPRE: Preservar fidelidade ao conteúdo original\n✓ SEMPRE: Manter contexto acumulado de todas as aulas\n✓ SEMPRE: Validar pré-requisitos antes de processar\n✓ SEMPRE: Transformar oral em texto de livro profissional\n</reminder>\n\n<success_criteria>\nLIVRO ACEITO SE E SOMENTE SE:\n[✓] Todas as aulas processadas na ordem correta\n[✓] Zero conteúdo adicionado externamente\n[✓] Fidelidade 100% às falas do instrutor\n[✓] Contexto mantido entre todas as aulas\n[✓] Estrutura coesa e lógica\n[✓] Linguagem consistente e profissional\n[✓] Transições suaves entre seções\n[✓] Todos os detalhes técnicos preservados\n</success_criteria>\n\n</final_reminders>\n\n</system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        -16
      ],
      "id": "f16f5430-e3dd-4f88-b312-d901c9bf16b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        144
      ],
      "id": "652cdf74-7bc1-4ba9-8df8-c9e76d496cf3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FWqn0IMXX1HmDrEh",
          "name": "IA SUPORTE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        0
      ],
      "id": "7917f664-02b8-44ad-bc7a-02434a3fc39a",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-29T14:52:03.244Z",
      "createdAt": "2025-09-29T14:52:03.244Z",
      "role": "workflow:owner",
      "workflowId": "gvh3t6bGSKeudpuw",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-29T15:23:33.099Z",
  "versionId": "a6ba6fe2-a60f-4202-aaee-37e2f47d10c4"
}