workflows/My workflow 4.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "pesquisa_grupo": {
      "main": [
        [
          {
            "node": "encontrou_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_grupo": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_user": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "pesquisa_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_user1": {
      "main": [
        [
          {
            "node": "pesquisa_lead_nos_grupos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_lead_no_grupo1": {
      "main": [
        [
          {
            "node": "entrou_no_grupo2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "entrou_no_grupo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo2": {
      "main": [
        [
          {
            "node": "update_entrou_no_grupo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update_saiu_do_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "entrou_no_grupo3": {
      "main": [
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere_lead_na_tabela_leads_nos_grupos3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou_grupo": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "encontrou_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_entrou_no_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_saiu_do_grupo1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_lead_nos_grupos1": {
      "main": [
        [
          {
            "node": "encontrou_lead_no_grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere_lead_na_tabela_leads_nos_grupos3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_contato_no_ac2": {
      "main": [
        [
          {
            "node": "tag_compra_aprovada12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "atualiza_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cria_contato_no_ac2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-18T19:49:10.887Z",
  "id": "g8ugzhtwcz7eHpW1",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "grupos",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "f12bc438-7069-4f2a-a732-40d985ed590d",
      "name": "pesquisa_grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        592
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "c74ed064-5e8c-4c62-bb01-ecf27a087588",
      "name": "cria_grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1472,
        848
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "f6a189a9-c827-4506-b569-3299ebf9bf51",
      "name": "cria_user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2176,
        688
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "id_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignId\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "nome_campanha",
              "value": "={{ $json[\"body\"][\"data\"][\"campaignName\"] }}",
              "type": "string"
            },
            {
              "id": "f345ee1e-809f-49fa-b63c-50987289cc29",
              "name": "nome_grupo",
              "value": "={{ $json[\"body\"][\"data\"][\"groupName\"] }}",
              "type": "string"
            },
            {
              "id": "644349ad-b239-4d9f-823a-645498fcef5a",
              "name": "número_participante",
              "value": "={{ $json[\"body\"][\"data\"][\"number\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $json[\"body\"][\"data\"][\"createdAt\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "evento",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"event\"] }}",
              "type": "string"
            },
            {
              "id": "2b0020cf-fbd5-40a4-bd2a-c4966e981b9e",
              "name": "id",
              "value": "={{ $node[\"Webhook1\"].json[\"body\"][\"id\"] }}",
              "type": "string"
            },
            {
              "id": "8e4a3609-de2b-4836-ae66-8e4fc6fc1bab",
              "name": "evento1",
              "value": "[TRA_SET_2025] - [CAPTAÇÃO]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5713af36-678e-4561-bbed-9ed473872181",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "027b82e8-9243-4775-836d-f74c3b426988",
      "name": "encontrou_user1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1952,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_lead_nos_grupos1\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8809ced4-5bda-4c15-85fd-5f2d488b3929",
      "name": "encontrou_lead_no_grupo1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2576,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c43dc0f-31cc-4648-b1c3-1f4bf11f008d",
      "name": "entrou_no_grupo2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2736,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "65b5bcdb-1d2b-4071-82e8-87166a50612b",
              "leftValue": "={{ $node[\"Edit Fields1\"].json[\"evento\"] }}",
              "rightValue": "=group.updated.members.added",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65c05cb6-4df3-4711-add6-192f7f199a19",
      "name": "entrou_no_grupo3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2736,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dd359e72-da78-43bb-84a7-1b0911d82aa5",
              "leftValue": "={{ $node[\"pesquisa_grupo\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "abe8311d-24e0-4138-880b-cc509319aec5",
      "name": "encontrou_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1472,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34445fb8-b9d4-4830-a658-3a5c95e5bf69",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        608
      ]
    },
    {
      "parameters": {
        "content": "# CADASTRA CONTATO QUE ENTROU OU SAIU DOS GRUPOS NO BANCO DE DADOS",
        "height": 831,
        "width": 3118,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        192
      ],
      "typeVersion": 1,
      "id": "f0156d03-61fa-4165-aeb2-7a2621cfc88e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb182c1b-aedc-42c1-8721-22f7b7fb81b0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        832,
        592
      ],
      "id": "7c1160fe-7c3d-420c-a9e9-f4eb1dc2f3a2",
      "name": "Webhook1",
      "webhookId": "bb182c1b-aedc-42c1-8721-22f7b7fb81b0"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            }
          ]
        }
      },
      "id": "f0de3b7d-7080-4efe-ba63-f7f657dd39d4",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        576
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "a019d5f6-edf9-495c-819f-4294df1a921b",
      "name": "update_entrou_no_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2960,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "contatos_grupos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"pesquisa_lead_nos_grupos1\"].json[\"id_user\"] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "4eed9434-1647-4358-8c31-4f631535eaa4",
      "name": "update_saiu_do_grupo1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2976,
        416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contatos_grupos",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "keyName": "nome_grupo",
              "condition": "eq",
              "keyValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            }
          ]
        }
      },
      "id": "9bfaf8cf-97c8-4d26-97b7-77883e79c15a",
      "name": "pesquisa_lead_nos_grupos1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2384,
        544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_entrada",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "No Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "0c462f16-7cf1-4140-9c71-ee1cd873a966",
      "name": "insere_lead_na_tabela_leads_nos_grupos2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2992,
        592
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "tableId": "contatos_grupos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_saida",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Saiu do Grupo"
            },
            {
              "fieldId": "nome_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"nome_grupo\"] }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"número_participante\"] }}"
            },
            {
              "fieldId": "id_grupo",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_grupo\"].json[\"id\"] }}"
            },
            {
              "fieldId": "id_user",
              "fieldValue": "={{ $item(\"0\").$node[\"pesquisa_user1\"].json[\"id\"] }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $item(\"0\").$node[\"Edit Fields1\"].json[\"evento1\"] }}"
            }
          ]
        }
      },
      "id": "d3e0e332-9175-4fef-9f64-b99c7148627f",
      "name": "insere_lead_na_tabela_leads_nos_grupos3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3024,
        816
      ],
      "credentials": {
        "supabaseApi": {
          "id": "06funpVK0RasJnc4",
          "name": "Supabase - Fabiana Tomé"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "581911f4-1edc-4223-9d0b-63a4a0c51264",
              "name": "nome_grupo",
              "value": "={{ $node[\"Edit Fields1\"].json[\"nome_grupo\"] }}",
              "type": "string"
            },
            {
              "id": "8b54b9dd-4c63-4385-ae7b-0abb12662c7c",
              "name": "telefone_participante",
              "value": "={{ $node[\"Edit Fields1\"].json[\"número_participante\"] }}",
              "type": "string"
            },
            {
              "id": "4b6b96d1-c81b-4758-ab8e-150a033261db",
              "name": "data_que_entrou",
              "value": "={{ $node[\"Edit Fields1\"].json[\"data_que_entrou\"] }}",
              "type": "string"
            },
            {
              "id": "41c907e1-b28a-41ce-aa48-3ad3e5e6763a",
              "name": "id",
              "value": "={{ $node[\"Edit Fields1\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d8a9f6a-d472-4774-b463-87d7417c3fd1",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://fabianatome.api-us1.com/api/3/contacts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node[\"pesquisa_user1\"].json[\"email\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Token",
              "value": "633f6e21dac84c73a548cdb3c300de08d58c0c61fd6e675b7a8bc93dc05cd831ac0d53c6"
            }
          ]
        },
        "options": {}
      },
      "id": "4f891855-6256-4bbe-bcbd-63f94c61b0bd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        1280
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "866f5222-dc40-42ae-a102-b7300a89c89c",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4032,
        1456
      ]
    },
    {
      "parameters": {
        "errorMessage": "An error ocurred!"
      },
      "id": "5ce4e288-9765-4cfa-858a-8d0f61acfa70",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4032,
        1104
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
        "updateFields": {
          "email": "={{ $node[\"pesquisa_user1\"].json[\"email\"] }}",
          "firstName": "={{ $node[\"pesquisa_user1\"].json[\"nome\"] }}",
          "lastName": "={{ $node[\"pesquisa_user1\"].json[\"sobrenome\"] }}",
          "phone": "={{ $node[\"pesquisa_user1\"].json[\"telefone\"] }}"
        }
      },
      "id": "cbc44402-1c5f-435c-96ff-f8eda95d90d3",
      "name": "atualiza_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3712,
        1136
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "email": "={{ $node[\"pesquisa_user1\"].json[\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $node[\"pesquisa_user1\"].json[\"nome\"] }}",
          "lastName": "={{ $node[\"pesquisa_user1\"].json[\"sobrenome\"] }}",
          "phone": "={{ $node[\"pesquisa_user1\"].json[\"telefone\"] }}"
        }
      },
      "id": "e5e04e8b-04c8-4bba-8450-0fa5413fb847",
      "name": "cria_contato_no_ac2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3712,
        1424
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "721",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "016dd8c6-9806-46ec-8854-1032d4e190f4",
      "name": "tag_compra_aprovada12",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4032,
        1280
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "4EetjSxVIE3QPLxy",
          "name": "ActiveCampaign - fabianatome"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2130aa22-e19a-4662-8a2e-b43d36facf6d",
              "leftValue": "={{ $json[\"contacts\"][\"0\"][\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bbc50e35-6b0d-48a7-a08c-714524da27c3",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3472,
        1280
      ]
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.fabianatome.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "374",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "sendtok": "B72A8131333C9C63332E95A712285EB85D354558A7",
            "x-forwarded-for": "137.131.172.56",
            "x-forwarded-host": "webhook.fabianatome.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "075fd767e3c1",
            "x-real-ip": "137.131.172.56"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "QqKLnStNW8pAjPP8QMXk",
            "event": "group.updated.members.added",
            "data": {
              "campaignName": "[JUL25] Semana da Prática Tributária",
              "groupName": "⚖️ Semana da Prática Tributária #1",
              "groupJid": "120363421080809309@g.us",
              "groupId": "ZsLhnpqpToYWnlZxnh35",
              "campaignId": "GLPXdwAUrUqSXXTXyqII",
              "number": "5527998210071",
              "createdAt": "2025-06-23T14:07:31.833Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook.fabianatome.com.br/webhook/jul25",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-18T19:49:10.887Z",
      "createdAt": "2025-08-18T19:49:10.887Z",
      "role": "workflow:owner",
      "workflowId": "g8ugzhtwcz7eHpW1",
      "projectId": "tP5lcLj6t4StcK5B"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-19T19:48:51.872Z",
  "versionId": "b48970f8-3443-4720-8dd0-9c30f0e46c26"
}